---
import { getEntry, render } from 'astro:content';

import Layout from '#layouts/ProseLayout.astro';

export const prerender = false;

// 1. Get the slug from the incoming server request
const { id } = Astro.params;
if (id === undefined) {
  return Astro.redirect('/404');
}
// 2. Query for the entry directly using the request slug
const announcement = await getEntry('announcementsCollection', id!);

// 3. Redirect if the entry does not exist
if (announcement === undefined) {
  return Astro.rewrite('/404');
}

// 4. Render the entry to HTML in the template
const { Content } = await render(announcement);
---

<Layout title={announcement.data.title} maxW="60ch">
  <h1>{announcement.data.title}</h1>
  <Content />
</Layout>
