---
export const prerender = false;

import { getCollection } from 'astro:content';
import Headline from '#components/Headline.astro';
import Layout from '#layouts/Layout.astro';
import Prose from '#components/Prose.astro';
const announcements = await getCollection('announcements');
---

<Layout title="Announcements">
  <div
    class="space-between flex max-h-full flex-col border-red-100 md:flex-row"
  >
    <Headline color="yellow" headline="Announcements" />

    <ul>
      {
        announcements.map(({ id, data }) => (
          <li class="p-2">
            <a href={`/announcements/${id}`}>{data.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
