---
// import SunMoon from '@repo/astro-wc/SunMoon';
import Link from '@repo/astro-wc/Link';
import HeadFootWrapper from './HeadFootWrapper.astro';
---

<HeadFootWrapper>
  <!-- <SunMoon /> -->
  <nav>
    <a class="bg-sky-500 hover:bg-sky-700" href="/">Home</a>

    <Link href="/">xxx</Link>
    <Link href="/about">About</Link>
    <!-- <Link href="/services">Services</Link> -->
    <Link href="/cards">Cards</Link>
  </nav>
</HeadFootWrapper>
