---
// import SunMoon from '@repo/astro-wc/SunMoon';

import HeadFootWrapper from './HeadFootWrapper.astro';
---

<HeadFootWrapper>
  <!-- <SunMoon /> -->
  <nav>
    <a class="bg-sky-500 hover:bg-sky-700" href="/">Home</a>

    <a href="/">xxx</a>
    <a href="/about">About</a>
    <!-- <a href="/services">Services</a> -->
    <a href="/cards">Cards</a>
    <a href="/mark">MD sample</a>
  </nav>
</HeadFootWrapper>
