---
const { items } = Astro.props;
---

<ul>
  {
    items.map((item) => (
      <li>
        {Array.isArray(item) ?
          <Astro.self items={item} />
        : `item: ${item}`}
      </li>
    ))
  }
</ul>
