---
import Cluster from '@repo/layout-webcomponents/Cluster';
---

<Cluster>
  <a href="/">home</a>
  <a href="/gallery">gallery</a>
  <a href="/demos/sidebartest">sidebar</a>
  <!-- <a href="gridtest">gridtest</a> -->
  <a href="/demos/accent-test">accent-test</a>
  <a href="/demos/timer">timer</a>
  <a href="/gallery">gallery</a>
</Cluster>
