---
import type { RmUnitType } from '@repo/styles/Types';

import { SITE_DESCRIPTION, SITE_TITLE } from '#app.config.js';
import BaseHead from '#components/BaseHead.astro';

interface Props {
  image?: string;
  maxW?: RmUnitType;
  title?: string;
  children: unknown;
  description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
const mode = import.meta.env.NODE_ENV?.toString().substring(0, 3);
---

<html lang="en" data-theme="toucan">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <code class="mode">{mode}</code>
    <slot />

    <script is:inline>
      // on page, get the last theme from the cookie and set it
      document.addEventListener('astro:page-load', () => {
        const storedTheme = localStorage.getItem('theme');
        const doc = document.documentElement;
        // if (storedTheme) {
        //   doc.setAttribute('data-theme', storedTheme);
        //   // $currTheme.set(storedTheme);
        // } else {
        //   doc.setAttribute('data-theme', 'light');
        // }

        doc.setAttribute('data-theme', 'light');
      });
    </script>
  </body>
</html>
<style>
  .mode {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
  }
</style>
