---
import '../styles/global.css';
import type { RmUnitType } from '@repo/layout-webcomponents/Types';

import { SITE_DESCRIPTION, SITE_TITLE } from '#app.config.js';
import BaseHead from '#components/BaseHead.astro';

interface Props {
  image?: string;
  maxW?: RmUnitType;
  title?: string;
  children: unknown;
  description?: string;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
// const mode = import.meta.env.NODE_ENV?.toString().substring(0, 3);
---

<html lang="en" id="blog-app">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <slot />
  </body>
</html>
