---
import Center from '@repo/layout-webcomponents/Center';
import Cover from '@repo/layout-webcomponents/Cover';
import type { RmUnitType } from '@repo/layout-webcomponents/Types';

import Header from '#components/Header/index.astro';
// import Header from '#components/DaisyHeader/index.astro';
// import Footer from '#components/Footer/index.astro';
import BaseLayout from './BaseLayout.astro';
// import { slide } from 'astro:transitions';
interface Props {
  maxW?: RmUnitType;
  children: unknown;
  title?: string;
  description?: string;
}

const { maxW = '60ch', title, ...rest } = Astro.props;
---

<BaseLayout {...rest}>
  <div class="flex min-h-screen flex-col">
    <Header />
    <main
      class="m-auto flex max-w-6/10 flex-col items-center justify-center p-4"
    >
      {title && <h2 class="pb-3 text-lg">{title}</h2>}
      <slot />
    </main>
    <footer class="mt-auto flex items-center justify-center p-4">
      <p class="text-sm text-gray-500">
        © {new Date().getFullYear()} Mike Connor. All rights reserved.
      </p>
    </footer>
  </div>
</BaseLayout>
