---
import { Image } from 'astro:assets';
import { type CollectionEntry } from 'astro:content';
import Headline from '#components/Headline.astro';
import Prose from '#components/Prose.astro';
import Layout from '#layouts/Layout.astro';
import { format } from 'date-fns';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, date, cover, alt } = Astro.props;
---

<Layout title={title} description={description} maxW="60ch">
  <Headline headline={title} />

  {date && <p>Pub.on: {format(date, 'yyyy-MM-dd')}</p>}

  {
    cover && (
      <Image
        src={cover}
        alt={alt ? alt : 'needs alt'}
        width={10}
        height={10}
        class={'w-full rounded-xl'}
      />
    )
  }
  <slot name="authors" />

  <Prose>
    <slot />
  </Prose>
</Layout>
