---
import Layout from '#layouts/Layout.astro';

import type { CollectionEntry } from 'astro:content';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, date, cover, author, tags } = Astro.props;

// const authorResults = await getEntry('authors', author.id);

// if (!authorResults) {
//   throw new Error(`Author not found for post: ${title}`);
// }

// const { name } = authorResults.data;

// const { data :  relatedPostData} = getEntries('blog', authorResults.data.relatedPosts);
---

<!-- TODO: fix the date format -->
<Layout title={title} description={description} maxW="60ch">
  <!-- <p>Published on: {date.toDateString()}</p> -->
  <div class="prose prose-slate dark:prose-invert"><slot /><div></div>
</Layout>
