---
import '../styles/global.css';
import BaseHead from '#components/BaseHead.astro';
import Header from '#components/Header/index.astro';
interface Props {
  title?: string;
  description?: string;

  // maxW?: RmUnitType;
  children: unknown;
}

const {
  title = 'Mike Connor',
  description = 'my description',

  // maxW = 'var(--measure)',
} = Astro.props;
---

<html lang="en" transition:animate="none" data-theme="light">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <div class="flex min-h-screen flex-col">
      <Header />
      <div class="m-auto">
        <slot />
      </div>
      <footer class="mt-auto flex items-center justify-center p-4">
        <p class="text-sm text-gray-500">
          © {new Date().getFullYear()} Mike Connor. All rights reserved.
        </p>
      </footer>
    </div>
  </body>
</html>
