---
import BaseHead from '#components/BaseHead.astro';

interface Props {
  title?: string;
  description?: string;

  // maxW?: RmUnitType;
  children: unknown;
}

const {
  title = 'Mike Connor',
  description = 'my description',

  // maxW = 'var(--measure)',
} = Astro.props;
---

<html lang="en" transition:animate="none" data-theme="light">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <slot />
  </body>
</html>
