---
import BaseHead from '#components/BaseHead.astro';


// const isProd = import.meta.env.PROD
// const isDev = import.meta.env.DEV


---

<html lang="en" transition:animate="none" data-theme="light">
  <head>
    <BaseHead />
  </head>

  <body>
    <slot />
  </body>
</html>
