---
import Box from '@repo/ui-lit/Box';
// import Stack from '@repo/layout-webcomponents/Stack';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Box>
    <h2 id="identification">Identification</h2>
    <p>
      Lorem ipsum odor amet, consectetuer adipiscing elit. Eget habitant
      scelerisque lectus ultrices nascetur aliquet sapien primis. Cursus sapien
      fusce semper nulla elit sociosqu lectus per sem. Sem ad porttitor dictum
      nisl pharetra tortor convallis. Sit molestie hendrerit porta dictum tortor
      posuere euismod magna. Mauris suspendisse pharetra finibus; eleifend etiam
      ridiculus.
    </p>
    <h2 id="range">Range and Habitat</h2>
    <p>
      Diam sed ipsum pretium porttitor class cubilia elementum. Blandit felis
      ligula habitant ultricies vulputate rutrum lacus commodo pulvinar. Nostra
      semper placerat lectus in dis eu. Sagittis ipsum placerat rhoncus lacus id
      eget. Erat pharetra aptent enim, augue accumsan ultricies inceptos
      habitasse. Senectus id maximus parturient tellus; fermentum posuere
      vulputate luctus. Ac tempus dapibus vehicula ligula ullamcorper sit duis.
    </p>
    <h2 id="behavior">Behavior</h2>
    <p>
      Erat vitae luctus arcu taciti malesuada pretium arcu justo primis. Cubilia
      vitae maecenas congue velit id netus arcu. Dictum vel pellentesque taciti
      fermentum risus consectetur amet. Faucibus commodo habitasse sem maximus
      praesent purus, dignissim tristique porta. Platea magna justo ipsum ut
      metus ac facilisi. Imperdiet laoreet pharetra maximus lacus tortor
      suscipit. Nam quisque iaculis orci porttitor pellentesque rhoncus.
      Molestie sagittis tincidunt quisque nisi non urna conubia.
    </p>
    <h2 id="conservation">Conservation</h2>
    <p>
      Nullam magna quam quisque eu varius integer. Inceptos donec facilisi risus
      himenaeos semper mollis habitasse. Vehicula lacus vivamus euismod pharetra
      mollis dictum. Ante ex tortor elementum eleifend habitasse orci aliquam.
      Fames erat senectus fames etiam dapibus cursus.
    </p>
  </Box>
</Layout>
