---
import '../styles/global.css';
interface Props {
  title?: string;
  description?: string;
}

import BaseHead from '#components/BaseHead.astro';

const props = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {...props} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  :root {
    --theme-secondary: var(--surface-2);
    --theme-primary: var(--text-1);
  }
</style>
