---
import { getCollection } from 'astro:content';
import Layout from '#layouts/Layout.astro';
import { Image } from 'astro:assets';

// import { timeCapsules } from '#app.config.ts';
// import TimeLine from '#components/TimeLine/index.astro';
export async function getStaticPaths() {
  const authorsObj = await getCollection('authors');
  // const { data: authorsData } = authorsObj;

  return authorsObj.map((author) => ({
    params: { id: author.id },
    props: author,
  }));
}

const { data } = Astro.props;
const { name, bio } = data;
---

<Layout maxW="60ch">
  <div class="card card-side bg-base-100 shadow-sm">
    <figure>
      <div class="w-36 rounded-full">
        <Image src={data.photo} alt="athor photo" width={200} height={200} />
      </div>
    </figure>
    <div class="card-body">
      <h2 class="card-title">{name}</h2>
      <div class="card-actions">
        {bio && <p>{bio}</p>}
      </div>
    </div>
  </div>
</Layout>
