---
import { getCollection } from 'astro:content';
import Layout from '#layouts/Layout.astro';

export async function getStaticPaths() {
  // const posts = await getCollection('blog', ({ data }) => data.draft !== true);
  const authors = await getCollection('authors');

  return authors.map((author) => ({
    params: { id: author.data.id },
    props: author,
  }));
}

// const id = Astro.params;
const { data } = Astro.props;
---

<Layout title={data.name} maxW="60ch">
  <h1>{data.name}</h1>
  <p>{data.bio}</p>
</Layout>
