---
import { getCollection } from 'astro:content';
import Layout from '#layouts/Layout.astro';

export async function getStaticPaths() {
  const authorsObj = await getCollection('authors');
  // const { data: authorsData } = authorsObj;

  return authorsObj.map((author) => ({
    params: { id: author.id },
    props: author,
  }));
}

const { data } = Astro.props;
const { name, bio } = data;
---

<Layout maxW="60ch">
  <div class="card card-side bg-base-100 shadow-sm card-lg">
    <div class="card-body">
      <h2 class="card-title">{name}</h2>
      {bio && <p>{bio}</p>}
      <!-- <div class="card-actions justify-end">
        {
          links &&
            links.map(({ platform, url }) => (
              <a href={url} class="link">
                {platform}
              </a>
            ))
        }
      </div> -->
    </div>
  </div>
</Layout>
