---
import { getCollection } from 'astro:content';
import Layout from '#layouts/Layout.astro';
const authors = await getCollection('authors');
---

<Layout title="authors">
  <h2 class="card-title">Authors</h2>
  {
    authors.map((author) => (
      <div class="flex items-center gap-2">
        <a href={`/authors/${author.id}`}>{author.data.name}</a>
      </div>
    ))
  }
</Layout>
