---
import { getCollection } from 'astro:content';
import Headline from '#components/Headline.astro';
import { Image } from 'astro:assets';
import Frame from '@repo/layout-webcomponents/Frame';
// import AuthorCard from './AuthorCard.astro';
import Layout from '#layouts/Layout.astro';

const authors = await getCollection('authors');
---

<Layout title="authors">
  <Headline headline="Authors" />
  <ul class="flex flex-wrap justify-center gap-2">
    {
      authors.map(({ id, data }) => (
        <li class="relative">
          <div class="card w-48 bg-base-100 shadow-sm">
            <Frame ratio="1:1">
              <Image
                class="rounded-md border-3"
                src={data.photo}
                alt={data.name}
                width={1000}
                height={1000}
              />
            </Frame>
            <a
              href={`/authors/${id}`}
              class="absolute inset-0 z-10 rounded-2xl"
              aria-label="Full card link"
            />
          </div>

          <div class="card-body">
            <h2 class="card-title">
              {data.name}
              {/* <div class="badge badge-secondary">Fresh</div> */}
            </h2>
          </div>
        </li>
      ))
    }
  </ul>
</Layout>
