---
import { getCollection } from 'astro:content';
// import { authorSchema } from '#schemas/idex.js';
import { Stack } from '#astro-wc/index.js';
import Box from '#lit-wc/Box/index.astro';

import Layout from '#layouts/Layout.astro';

const authors = await getCollection('authors');
---

<Layout title="authors">
  <!-- <Debug {tag} />
    <Debug {posts} /> -->
  <Stack space="var(--s1)">
    <Box><h2>authors</h2></Box>

    {
      authors.map(({ data }) => (
        <Box>
          <a href={`/authors/${data.id}`}>{data.name}</a>
        </Box>
      ))
    }
  </Stack>
</Layout>
