---
import Layout from '#layouts/Layout.astro';
import type { PaginateFunction } from 'astro';
export const prerender = true;
export function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
  const astronautPages = [
    {
      astronaut: 'Neil Armstrong',
    },
    {
      astronaut: 'Buzz Aldrin',
    },
    {
      astronaut: 'Sally Ride',
    },
    {
      astronaut: 'John Glenn',
    },
  ];
  // Generate pages from our array of astronauts, with 2 to a page
  return paginate(astronautPages, { pageSize: 2 });
}

// All paginated data is passed on the "page" prop
const { page } = Astro.props;
const { url, data, currentPage } = page;
---

<Layout>
  <!--Display the current page number. Astro.params.page can also be used!-->
  <h1>Page {currentPage}</h1>
  <ul>
    <!--List the array of astronaut info-->
    {data.map(({ astronaut }) => <li>{astronaut}</li>)}
  </ul>

  <button><a href={url.next}>next</a></button>
  <button><a href={url.prev}>prev</a></button>
</Layout>
