---
// import Prose from '#components/Prose.astro';
import Fig from './Fig.astro';

import img1 from '../../assets/Andy.jpg';
import img2 from '../../assets/img-2.jpg';
import img3 from '../../assets/img-3.jpg';
import img4 from '../../assets/img-4.jpg';
---

<h1>Expanding Captioned Images</h1>
<p>
  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
  turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor
  sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
  mi vitae est. Mauris placerat eleifend leo.
</p>

<section class="img-gallery not-prose group">
  <Fig index={1} img2={img1} caption="Jump!" alt="jump, matey" />
  <Fig index={2} img2={img2} caption="Woah there!" alt="jump, matey" />
  <Fig index={3} img2={img3} caption="Crossed Axes" alt="jump, matey" />
  <Fig index={4} img2={img4} caption="Brothers in Arms" alt="jump" />
</section>
