:where(html) {
  --brand-light: var(--orange-3);
  --link-visited-light: var(--orange-10);

  --text-1-light: var(--gray-12);
  --text-2-light: var(--gray-11);

  --surface-1-light: var(--gray-0);
  --surface-2-light: var(--gray-1);
  --surface-3-light: var(--gray-2);
  --surface-4-light: var(--gray-3);
  --surface-shadow-light: var(--gray-8-hsl);
  --shadow-strength-light: 2%;
}
