.DS_Store
node_modules
.turbo
*.log
dist/
dist-ssr
*.local
.env
.cache
server/dist
public/dist

notes.txt

cache-directory/
.vercel/
.astro/

# playwright
playwright-report/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# Vite
**/vite.config.js.timestamp-*
**/vite.config.ts.timestamp-*
**/.svelte-kit
/tree.txt
/apps-next/blog-starter-app/.gitignore
/apps-next/blog-starter-app/.next
