.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist

**/*.d.ts.map
*.map
**/*.d.ts
/packages/ui/src/utils/counter.js
/packages/ui/src/components/counter.js
/packages/ui/src/index.js

/notes.txt
/apps/mike-blog/cache-directory
**/*/.vercel
