

hoist-pattern[]=!@astrojs/*
hoist-pattern[]=!astro


# Specify a custom store path if desired, which helps in CI/CD or isolated environments
# store-dir=./node_modules/.pnpm-store

# Node linking strategy for pnpm; can help with module resolution issues in monorepo
# node-linker=hoisted

# Registry (if you're using a private registry)
# registry=https://registry.npmjs.org/