public-hoist-pattern[]=*lit*
workspace-concurrency = 6



# Specify a custom store path if desired, which helps in CI/CD or isolated environments
# store-dir=./node_modules/.pnpm-store

# Node linking strategy for pnpm; can help with module resolution issues in monorepo
# node-linker=hoisted

# Registry (if you're using a private registry)
# registry=https://registry.npmjs.org/

hoist-pattern[]=!@astrojs/*
hoist-pattern[]=!astro
# # auto-install-peers = true

shared-workspace-lockfile=true # default is true
link-workspace-packages=true # default is false
save-workspace-protocol=rolling # default is rolling

