---
export const prerender = false;
import { getCollection } from 'astro:content';

import Layout from '#layouts/Layout.astro';

const announcements = await getCollection('announcements');
---

<Layout>
  <ul>
    {
      announcements.map(({ id, data }) => (
        <li>
          <a href={`/announcements/${id}`}>{data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
