---
import { link } from 'fs';

interface Props {
  href: string;
  label: string;
  imagePath?: string;
  alt?: string;
  bool: true | false;
}

const { href, label, bool } = Astro.props;
---

<div
  class="relative isolate mt-3 flex flex-col items-start rounded-2xl px-6 py-4 hover:shadow-lg"
>
  <!-- <Image slot="image" class="w-full" src={images[imagePath]()} alt={alt} /> -->
  <slot name="img" />
  <h2 class="text-xl font-bold text-zinc-800">
    <a href={href}>
      <span class:list={['absolute inset-0 z-10', { 'bg-pink-600/25': bool }]}
      ></span>
      <slot name="headline" />
    </a>
  </h2>

  <!-- <span class:list={['absolute inset-0', { 'bg-pink-600/25': bool }]}></span> -->
  <!-- <span class="absolute inset-0 bg-pink-600/25"></span> -->

  <time class="relative order-first text-sm text-gray-600" datetime="2021-08-01"
    >August 1, 2021</time
  >
  <p class="text-base text-gray-700">
    <slot name="description" />
  </p>
  <div class="px-6 pt-4 pb-2">
    <span
      class="mr-2 mb-2 inline-block rounded-full bg-blue-200 px-3 py-1 text-sm font-semibold text-blue-700"
      >Tag1</span
    >
    <span
      class="mr-2 mb-2 inline-block rounded-full bg-blue-200 px-3 py-1 text-sm font-semibold text-blue-700"
      >Tag2</span
    >
    <span
      class="mr-2 mb-2 inline-block rounded-full bg-blue-200 px-3 py-1 text-sm font-semibold text-blue-700"
      >Tag3</span
    >
  </div>
</div>
