---
import Box from '@repo/ui-lit/Box';
---

<Box>
  <div class="wa-cluster" style="flex-wrap: nowrap;">
    <wa-icon-button data-toggle-nav name="bars" label="Menu"></wa-icon-button>
    <wa-breadcrumb style="font-size: var(--wa-font-size-s);">
      <wa-breadcrumb-item>Field Guides</wa-breadcrumb-item>
      <wa-breadcrumb-item>Owls</wa-breadcrumb-item>
      <wa-breadcrumb-item>Great Horned Owl</wa-breadcrumb-item>
    </wa-breadcrumb>
  </div>
  <wa-input
    id="search"
    class="wa-desktop-only"
    placeholder="Search"
    size="small"
    style="max-inline-size: 12rem;"
  >
    <wa-icon slot="prefix" name="magnifying-glass"></wa-icon>
  </wa-input>
</Box>
