---
import BaseHead from '#components/BaseHead.astro';
// import DevModeStyle from '@repo/styles/DevModeStyle.astro';
// import GlobalStyle from '@repo/styles/GlobalStyle.astro';
---

<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <slot />
  </body>
</html>
