---
import BaseHead from '#components/BaseHead.astro';
// import DevModeStyle from '@repo/styles/DevModeStyle.astro';
// import GlobalStyle from '@repo/styles/GlobalStyle.astro';
---

<html lang="en">
  <head>
    <BaseHead />

    <!-- WEBAWESOME -->
    <link
      rel="stylesheet"
      href="https://early.webawesome.com/webawesome@3.0.0-alpha.12/dist/styles/webawesome.css"
    />

    <link
      rel="stylesheet"
      href="https://early.webawesome.com/webawesome@3.0.0-alpha.12/dist/styles/themes/default.css"
    />
    <script
      type="module"
      src="https://early.webawesome.com/webawesome@3.0.0-alpha.12/dist/webawesome.loader.js"
    ></script>
    <!-- <Styles /> -->
  </head>
  <body>
    <slot />
  </body>
</html>
