---
import '../styles/global.css';
import BaseHead from '#components/BaseHead.astro';
---

<html lang="en" id="multi-app" data-theme="synthwave">
  <head>
    <BaseHead />
  </head>
  <body>
    <slot />
  </body>
</html>
