---
import Center from '@repo/layout-webcomponents/Center';
import Cover from '@repo/layout-webcomponents/Cover';
import type { RmUnitType } from '@repo/styles/Types';

import Header from '#components/header.astro';
import BaseLayout from '#layouts/BaseLayout.astro';

interface Props {
  title?: string;
  centerWidth?: RmUnitType;
  children: unknown;
}

const { centerWidth = '60ch', title = 'mike connor' } = Astro.props;
---

<BaseLayout title={title}>
  <Cover centeredElement="box-l" noPad>
    <Header desc={title} />

    <main>
      <Center max={centerWidth}><slot /></Center>
    </main>
  </Cover>
</BaseLayout>
