---
import Tag from './Tag.astro';
interface Props {
  tags: string[];
  tagCounts: Record<string, number>;
}

const { tagCounts } = Astro.props;
---

<div class="flex flex-row flex-wrap gap-4">
  {
    tagCounts &&
      Object.entries(tagCounts).map(([tag, count], index) => (
        <Tag tag={tag} count={count} />
      ))
  }
</div>
