---
import Tag from './Tag.astro';
interface Props {
  tags: string[];
  tagCounts: Record<string, number>;
}

const { tagCounts } = Astro.props;
---

<div class="flex flex-row flex-wrap gap-1 sm:gap-2 md:gap-3 lg:gap-4">
  {
    // If tagCounts is not defined, we can skip rendering tags
    !tagCounts && <p>No tags available</p>
  }
  {
    tagCounts &&
      Object.entries(tagCounts).map(([tag, count]) => (
        <Tag tag={tag} count={count} />
      ))
  }
</div>
