---
// import Icon from '@repo/layout-webcomponents/Icon';
// import IconLink from '@repo/astro-ui/IconLink';
interface Props {
  tag: string;
  count?: number;
}
const { tag, count } = Astro.props;
---

<div>
  <a href=`/tags/${tag}` class="badge badge-xl badge-info">
    <i class="ph ph-tag"></i>
    {tag}: {count}
  </a>
</div>
