---
import { SITE_TITLE, SITE_DESCRIPTION } from '#app.config.ts';
import Layout from '#layouts/Layout.astro';
import Grid from '@repo/astro-wc/Grid';
// import Image from 'astro';
import CoolWavgSvg from '#components/CoolWavgSvg.astro';
import MainSvg from '#components/MainSvg.astro';
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION} maxW="60ch">
  <!-- <div class="vertical sm:horizontal">
    <div class="bg-accent-700 h-16 w-16"></div>
    <div class="bg-accent-700 h-16 w-16"></div>
    <div class="bg-accent-700 h-16 w-16"></div>
    <div class="bg-accent-700 h-16 w-16"></div>
    <div class="bg-accent-700 h-16 w-16"></div>
  </div> -->

  <Grid />
</Layout>
