/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import 'tailwindcss';
/* @import './modular-scale.css'; */
/* @plugin '@tailwindcss/typography'; */

@layer theme;

/* , base, components, utilities;
 @import "tailwindcss/theme.css" layer(theme);
 @import "tailwindcss/preflight.css" layer(base);
 @import "tailwindcss/utilities.css" layer(utilities); */

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --font-script: Great Vibes, cursive;
}
