---
// import { Links } from '#app.config.ts';
// import Cluster from '@repo/layout-webcomponents/Cluster';

import EasterEgg from '@repo/astro-ui/EasterEgg';
import MailtoBtn from '#components/actions-buttons/MailtoButton/index.astro';
---

<footer
  class="space-around flex flex-row items-center justify-between p-4 text-base-content"
>
  <div class="text-nowrap">Site and contents by Mike Connor</div>

  <MailtoBtn buttonText="CONTACT ME" />
  <EasterEgg file="drink" />
</footer>
