---
// import { Links } from '#app.config.ts';
// import Cluster from '@repo/layout-webcomponents/Cluster';
import MailtoBtn from '#components/actions-buttons/MailtoButton/index.astro';
---

<footer
  transition:persist
  class="space-around bg-base-200 text-base-content flex flex-col items-center justify-between p-4"
>
  <div class="text-nowrap">Site and contents by Mike Connor</div>
  <div class="">
    <MailtoBtn buttonText="CONTACT ME" />
  </div>
</footer>
