---
// import { Links } from '#app.config.ts';
import Switcher from '@repo/layout-webcomponents/Switcher';

import EasterEgg from '@repo/astro-ui/EasterEgg';
import MailtoBtn from '#components/actions-buttons/MailtoButton/index.astro';
---

<!-- Footer with responsive flex direction -->
<footer
  class="border-t-1 flex flex-col items-stretch p-4 md:flex-row md:content-center md:justify-between"
>
  <!-- <Switcher space="var(--s00)" threshold="48rem"> -->
  <p
    class="text-neutral-content-300 border-1 text-shadow-accent hidden text-center text-xl md:block"
  >
    Site and contents by Mike Connor
  </p>

  <MailtoBtn buttonText="CONTACT" />

  <EasterEgg />
  <!-- </Switcher> -->

  <!-- </footer> -->
</footer>
