---
import { Links } from '#app.config.ts';
---

<div class="text-3xl">
  <wa-icon-button size="large" name="github" family="brands" href={Links.GITHUB}
  ></wa-icon-button>
  <wa-icon-button family="brands" name="twitter" href={Links.TWITTER}
  ></wa-icon-button>
  <wa-icon-button family="brands" name="linkedin" href={Links.LINKEDIN}
  ></wa-icon-button>
</div>
