---
interface Props {
  cols: number;
}

const { cols } = Astro.props;
---

<div class="grid-simple sm:[--cols:3]">
  <div class="h-16 w-16 bg-sky-300"></div>
  <div class="h-16 w-16 bg-sky-300"></div>
  <div class="h-16 w-16 bg-sky-300"></div>
  <div class="h-16 w-16 bg-sky-300"></div>
  <div class="h-16 w-16 bg-sky-300"></div>
  <div class="h-16 w-16 bg-sky-300"></div>
</div>
