---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '#app.config.ts';
---

<header class="">
  <nav class="flex flex-row justify-between">
    <div class="basis-50"><a href="/" class="text-3xl">{SITE_TITLE}</a></div>

    <div class="basis-50 flex flex-row border-2">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
</header>
