---
import Image from 'astro/components/Image.astro';

interface Props {
  title: string;
  description: string;
  alt: string;
  heroImage: string;
}

const { title, description, alt, heroImage } = Astro.props;
---

<div>
  <Image src={heroImage} alt={alt} width={200} height={200} />
  <h2>{title}</h2>
  <p>{description}</p>
</div>
