---
import '../styles/global.css';

import { SITE_TITLE } from '#app.config.ts';
import BaseHead from '#components/BaseHead.astro';

interface Props {
  title?: string;
  children: unknown;
  headerDescription?: string;
}

const { title = SITE_TITLE, headerDescription = 'Blog Post' } = Astro.props;
---

<html lang="en" data-theme="cupcake" id="my-app">
  <head>
    <BaseHead title={title} headerDescription={headerDescription} />
  </head>

  <body>
    <slot />
  </body>
</html>

<!-- <script>
  // on page, get the last theme from the cookie and set it
  document.addEventListener('astro:page-load', () => {
    console.log('astro:page-load');
    const storedTheme = localStorage.getItem('theme');
    const doc = document.documentElement;
    if (storedTheme) {
      doc.setAttribute('data-theme', storedTheme);
      // $currTheme.set(storedTheme);
    } else {
      doc.setAttribute('data-theme', 'light');
    }
  });
</script> -->
