---
import Center from '@repo/layout-webcomponents/Center';
import Cover from '@repo/layout-webcomponents/Cover';
import type { RmUnitType } from '#Types.ts';

// import Footer from '#components/Footer.astro';
import Header from '#components/Header.astro';

import BaseLayout from './BaseLayout.astro';

interface Props {
  maxW?: RmUnitType;
  children: unknown;
  title?: string;
  description?: string;
}

const { title } = Astro.props;
---

<BaseLayout title="{title">
  <Cover centeredElement="center-l" space="0">
    <Header transition:persist />

    <Center  transition:animate="slide">
      <!-- <div class="prose md:prose-lg lg:prose-xl prose-blue scheme-light"> -->
      <slot />
      <!-- </div> -->
    </Center>
  </Cover>
</BaseLayout>

