---
import type { RmUnitType } from '@repo/styles/Types';

import Layout from './BaseLayout.astro';

interface Props {
  maxW?: RmUnitType;
  children: unknown;
  title?: string;
  description?: string;
}

const {
  maxW = 'var(--measure, 60ch)',
  title,
  description,
  ...rest
} = Astro.props;
---

<Layout title={title} description={description} {...rest} maxW="60ch">
  <div
    class="prose md:prose-lg lg:prose-xl dark:prose-invert prose-a:text-blue-600 prose-a:hover:text-blue-500"
  >
    <slot />
  </div>
</Layout>
