---
// import DatePicker from '#components/DatePicker.astro';
// import Card from '@/components/Card.astro';
import Stack from '@repo/layout-webcomponents/Stack';
import Form from '@repo/astro-wc/AstroForm';
import Layout from '#layouts/Layout.astro';
import Box from '@repo/ui-lit/Box';
---

<Layout title="Welcome to Astro.">
  <Box borderWidth="2px">
    <Stack space="2rem">
      <Form />
      <Box invert>
        <div style={{ maxWidth: '30px' }}><button>click me</button></div>

        <Box invert>
          <h4>Learn how Astro works and explore the official API docs.</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
            molestias quo ullam alias sit, nisi iure enim debitis numquam
            laudantium! Quia distinctio consectetur optio, explicabo vero illo
            unde dolores earum.Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Atque molestias quo ullam alias sit, nisi iure
            enim debitis numquam laudantium! Quia distinctio consectetur optio,
            explicabo vero illo unde dolores earum.
          </p></Box
        >
      </Box>
      <Box
        ><h4>Learn how Astro works and explore the official API docs.</h4></Box
      >
      <!-- <Box><h4>Learn how Astro works and explore the official API docs.</h4></Box>
     -->
    </Stack>
  </Box>
</Layout>
