---
import Layout from '#layouts/LayoutNc.astro';
import Box from '@repo/ui-lit/Box';
---

<Layout>
  <div slot="left">
    <Box invert>
      <p>
        <em>flex-basis:</em> 20rem is more nuanced. It tells the browser to consider
        20rem as an ideal or “target” width. It is then free to calculate just how
        closely the 20rem target can be resembled given the content and available
        space. You empower the browser to make the right decision for the content,
        and the user, reading that content, given their circumstances.
      </p>
    </Box>
  </div>
  <div slot="right">
    <Box>
      <p>
        <em>flex-basis:</em> 20rem is more nuanced. It tells the browser to consider
        20rem as an ideal or “target” width. It is then free to calculate just how
        closely the 20rem target can be resembled given the content and available
        space. You empower the browser to make the right decision for the content,
        and the user, reading that content, given their circumstances.
      </p>
    </Box>
  </div>
</Layout>
