---
import Stack from '@repo/layout-webcomponents/Stack';
import AstroForm from '@repo/astro-wc/AstroForm';

import Layout from '#layouts/Layout.astro';
import Box from '@repo/ui-lit/Box';
import Header from '#components/Header.astro';
---

<Layout title="Welcome to Astro.">
  <Box borderWidth="2px">
    <Stack space="2rem">
      <Box>
        <h1>Do et magna laborum id fugiat Lorem proident aliqua eu.</h1>
        <h2>Qui do eu ullamco ipsum ipsum culpa velit magna qui non.</h2>
        <h3>
          Ut nisi amet consequat minim laboris occaecat anim officia eiusmod
          elit esse.
        </h3>
        <h4>Learn how Astro works and explore the official API docs.</h4>
        <h5>
          Amet deserunt enim adipisicing sit consequat minim pariatur ut mollit
          quis eu.
        </h5>
        <h6>Est ex mollit culpa qui mollit.</h6>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque
          molestias quo ullam alias sit, nisi iure enim debitis numquam
          laudantium! <h4>
            Learn how Astro works and explore the official API docs.
          </h4>onsectetur optio, explicabo vero illo unde dolores earum.Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Atque molestias quo
          ullam alias sit, nisi iure enim debitis numquam laudantium! Quia
          distinctio consectetur optio, explicabo vero illo unde dolores earum.
        </p>
      </Box>
      <Box
        ><h4>Learn how Astro works and explore the official API docs.</h4></Box
      >
      <!-- <Box><h4>Learn how Astro works and explore the official API docs.</h4></Box>
     -->
    </Stack>
  </Box>
</Layout>
