---
import Layout from '#layouts/Layout.astro';
import CardWFooter from '#components/CardWFooter.astro';
---

<Layout title="Welcome to Astro.">
  <CardWFooter>
    This card has a footer. You can put all sorts of things in it!

    <div slot="footer">
      <wa-rating></wa-rating>
      <wa-button variant="brand">Preview</wa-button>
    </div>
  </CardWFooter>
</Layout>
