@import './animations.css';

@import '@repo/astro-ui/styles.css';

@import '@repo/design-system/shared-styles.css';
/* @import 'tailwindcss' source('../../src'); */

@source '../node_modules/@repo/astro-ui';

@plugin 'daisyui' {
  themes: all;
}

@plugin '@tailwindcss/typography';
