@import 'tailwindcss';
/* @custom-variant dark (&:where(.dark, .dark *)); */
/* @import 'open-props/open-props.min.css'; */
@source not '@repo/styles';
@source not '@repo/layout-webcomponents';

@import '@repo/design-system/shared-styles.css';
@import '@repo/astro-ui/styles.css';
@import './anims.css';

@plugin "daisyui" {
  root: '#blog-app';
  themes: all;
}

@plugin "daisyui/theme" {
  themes: light --default bumblebee, dark --prefersdark, halloween;
  /* name: 'light';
  default: true;
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32); */
}

@plugin "@tailwindcss/typography";
