/* :root {
  --font-main: --font-neo-grotesque;
  --font-headlines: 'Patrick Hand SC', cursive;
} */

:where(p, ul, ol, dl, h6) {
  font-size: var(--font-size-3);
}

:where(html) {
  block-size: 100%;
  font-family: var(--font-handwritten);
  line-height: var(--font-lineheight-3);
  -webkit-text-size-adjust: none; /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */

  @media (--motionOK) {
    scroll-behavior: smooth;
  }
}
