<hello-button data-message="Houston">
  <button>Get greeting</button>
</hello-button>

<script>
  // import { actions } from 'astro:actions';
  import { actions } from 'astro:actions';
  class HelloButton extends HTMLElement {
    constructor() {
      super();

      const msg = this.dataset.message;
      const btn = this.querySelector('button');
      btn?.addEventListener('click', async () => {
        // Show alert pop-up with greeting from action
        const greetingResponse = await actions.getGreeting.orThrow({name: 'Mike'});
        alert(greetingResponse);
     
      });
    }
  }

  customElements.define('hello-button', HelloButton);
</script>
