---

---

<hello-button data-message="Houston">
  <button>Get greeting</button>
</hello-button>

<script>
  import { actions } from 'astro:actions';

  class HelloButton extends HTMLElement {
    constructor() {
      super();

      const msg = this.dataset.message;

      const btn = this.querySelector('button');
      btn?.addEventListener('click', async () => {
        // Show alert pop-up with greeting from action
        const { data, error } = await actions.getGreeting({ name: msg ?? 'Default'  });
        if (!error) {
            alert(data);
            return;
        } 
      
        throw new Error("ERRor" + error.message);
      });
    }
   
  }
  customElements.define('hello-button', HelloButton);
</script>
