---
import type { BorderStyle, RmUnitType } from '@repo/styles/Types';



interface Props {
  padding?: RmUnitType;
  borderWidth?: RmUnitType;
  highlight?: boolean;
  borderStyle?: BorderStyle;
  invert?: boolean;
  children?: unknown;
}
const props = Astro.props;
---

<script src="@repo/ui-components/box.ts">

</script>
<div>
  <box-l {...props}>
    <slot />
  </box-l>
</div>
