---
import Box from '@repo/layout-webcomponents/Box';

import ThemeSwitcher from '@repo/ui-lit/ThemeSwitcher';
---

<Box invert padding="0" borderWidth="0">
  <Box borderWidth="0" padding="0">
    <!-- <Hamburger />
  -->
    <ThemeSwitcher />
  </Box>

  <Box borderWidth="0" padding="0" />
  <h1>Multi Framework Demo</h1>
</Box>
