---
import { type NavLinkI, navLinks } from '#app.config.ts';

interface Props extends Omit<NavLinkI, 'label'> {
  first?: boolean;
  last?: boolean;

  children: unknown;
}

const { href, ...rest } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

{
  isActive ?
    <span
      class:list={[
        'tab-primary bg-transparent text-stone-500 underline inset-ring-2 inset-ring-blue-500/50',
        { 'rounded-l-2xl': rest.first },
        { 'rounded-r-2xl': rest.last },
      ]}
    >
      <slot />
    </span>
  : <span
      class:list={[
        'tab-primary relative visited:bg-purple-600 hover:underline hover:ring-2',
        { 'rounded-l-2xl': rest.first },
        { 'rounded-r-2xl': rest.last },
      ]}
    >
      <a href={href} class="">
        <span class="absolute inset-0 hover:bg-accent-200/10" />
        <slot />
      </a>
    </span>
}
