---
import Box from '@repo/layout-webcomponents/Box';

import type { HTMLAttributes } from 'astro/types';
type Props = HTMLAttributes<'a'> & {
  first?: boolean;
  last?: boolean;
};

const { href, first, last } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

{
  isActive ?
    <div class="px-2 py-2 font-bold">
      <slot />
    </div>
  : <span
      class:list={[
        'border-indigo-5000 bg-accent-400 px-2 py-2 hover:bg-accent-800',
        { 'rounded-l-lg': first },
        { 'rounded-r-lg': last },
      ]}
    >
      <a href={href} class="hover:text-gray-400">
        <slot />
      </a>
    </span>
}
