---
import { type NavLinkI, navLinks } from '#app.config.ts';

interface Props extends Omit<NavLinkI, 'label'> {
  children: unknown;
}

const { href, ...rest } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

{
  isActive && !rest.subPages ?
    <span class="tab-primary bg-transparent p-2 text-stone-500 underline">
      <slot name="activeTab" />
    </span>
  : <span class="tab-primary tab-bg tab-ends relative p-2">
      <a href={href} class="">
        <span class="absolute inset-0" />
        <slot name="btnContents" />
      </a>
    </span>
}
