---
import { type NavLinkI, navLinks } from '#app.config.ts';

interface Props extends Omit<NavLinkI, 'label'> {
  first?: boolean;
  last?: boolean;

  children: unknown;
}

const { href, ...rest } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

{
  isActive && !rest.subPages ?
    <span class:list={['tab-primary bg-transparent text-stone-500 underline']}>
      <slot name="activeTab" />
    </span>
  : <span class="tab-primary tab-bg tab-first tab-last relative">
      <a href={href} class="">
        <span class="absolute inset-0" />
        <slot name="btnContents" />
      </a>
    </span>
}
