---
// import Hamburger from '/Hamburger.astro';

import Cluster from '@repo/layout-webcomponents/Cluster';
import Box from '@repo/layout-webcomponents/Box';
import ThemeSwitcher from '@repo/ui-lit/ThemeSwitcher';
import DropDownNav from '#components/DropDownNav/index.astro';

import SunMoon from '#components/SunMoon/index.astro';
import MainNav from './MainNav.astro';
import OutLinks from '../Footer/OutLinks.astro';

import { getPaths } from '#lib/index.ts';
const { pathname } = Astro.url;
---

<div class="border-2 bg-zinc-100 px-4 py-4 dark:bg-zinc-800">
  <Cluster align="center" justify="space-between" space="0">
    <SunMoon />
    <!-- <h2>{pathname}</h2> -->
    <!-- <div class="flex gap-4 text-2xl"><MainNav /></div> -->
    <MainNav />

    <OutLinks />
  </Cluster>
</div>
