---
import Cluster from '@repo/layout-webcomponents/Cluster';
import Box from '@repo/layout-webcomponents/Box';
import HeaderLink from './HeaderLink.astro';

import { type NavLinkI, navLinks } from '#app.config.ts';
---

<div class="flex divide-x-3 divide-dotted divide-primary-700/50">
  <!-- <DropDownNav />
      <SunMoon /> -->

  {
    navLinks.map(({ href, label, subPages }, index) => (
      <HeaderLink
        first={index === 0}
        last={index === navLinks.length - 1}
        href={href}
        subPages={subPages}
      >
        {label}
      </HeaderLink>
    ))
  }
</div>
