---
import Stack from '@repo/layout-webcomponents/Stack';
import Layout from '#layouts/Layout.astro';
import Box from '@repo/layout-webcomponents/Box';
---

<Layout title="Welcome to Astro.">
  <Box borderWidth="2px">
    <Stack space="2rem">
      <Box padding="var(--s0)">
        <!-- <div class="box-border size-32 border-4 p-4 bg-sky-500"></div> -->
        <h1>
          Welcome to my long overdue public-professional-personal shingle.
        </h1>
        <p>
          This is a WIP. Standby for sizzling original and nutritious content.
        </p>
      </Box>
      <div class="text-red-600">
        <wa-icon name="exclamation-triangle"></wa-icon>
        <wa-icon name="archive"></wa-icon>
        <wa-icon name="battery-three-quarters"></wa-icon>
        <wa-icon name="bell"></wa-icon>
      </div>
      <div class="text-red-200">
        <wa-icon name="clock"></wa-icon>
        <wa-icon name="cloud"></wa-icon>
        <wa-icon name="download"></wa-icon>
        <wa-icon name="file"></wa-icon>
      </div>
      <div class="text-red-300">
        <wa-icon name="flag"></wa-icon>
        <wa-icon name="heart"></wa-icon>
        <wa-icon name="image"></wa-icon>
        <wa-icon name="bolt-lightning"></wa-icon>
      </div>
      <div class="text-red-500">
        <wa-icon name="microphone"></wa-icon>
        <wa-icon name="search"></wa-icon>
        <wa-icon name="star"></wa-icon>
        <wa-icon name="trash"></wa-icon>
      </div>
    </Stack>
  </Box>
</Layout>
