:where(html) {
  --brand-grape: var(--purple-1);
  --link-visited-grape: var(--purple-12);
  --text-1-grape: var(--purple-3);
  --text-2-grape: var(--purple-6);
  --surface-1-grape: var(--purple-0);
  --surface-2-grape: var(--purple-1);
  --surface-3-grape: var(--purple-2);
  --surface-4-grape: var(--purple-3);
  --surface-shadow-grape: var(--purple-12-hsl);
  --shadow-strength-grape: 2%;
}
