---
import BaseLayout from './BaseLayout.astro';

interface Props {
  maxW?: RmUnitType;
  children: unknown;
  title?: string;
  description?: string;
}
const { title = 'xxx' } = Astro.props;
---

<BaseLayout title={title}>
  <div class="grid h-screen place-items-center content-center">
    <slot />
  </div>
</BaseLayout>
