/* :root {
  --font-main: --font-neo-grotesque;
  --font-headlines: 'Patrick Hand SC', cursive;
} */

:root {
  --theme-secondary: var(--surface-2);
  --theme-primary: var(--text-1);
  --theme-warning: red;
  --theme-font-family: var(--font-system-ui);
}

.warning {
  --my-element-text-color: var(--theme-warning);
}

/* body {
  color: var(--theme-primary);
  background-color: var(--theme-secondary);
} */

h1,
h2,
h3,
h4,
p,
dt {
  color: var(--text-1);
}

h5,
h6,
small,
dd {
  color: var(--text-2);
}
