---
import Box from '@repo/ui-lit/Box';
import Stack from '@repo/ui-lit/Box';
---

<Stack split-after="1">
  <Box invert borderWidth="0">
    <wa-menu>
      <wa-flank>
        <wa-avatar
          image="https://images.unsplash.com/photo-1544648720-132573cb590d?q=20"
          label=""></wa-avatar>
        <div class="wa-stack wa-gap-3xs">
          <span class="wa-heading-s">Great Horned Owl</span>
          <span class="wa-caption-s" lang="la"><em>Bubo virginianus</em></span>
        </div>
      </wa-flank>
    </wa-menu>
  </Box>
  <Box invert borderWidth="0">
    <wa-menu>
      <wa-menu-item><a href="#identification">Identification</a></wa-menu-item>
      <wa-menu-item><a href="#range">Range and Habitat</a></wa-menu-item>
      <wa-menu-item><a href="#behavior">Behavior</a></wa-menu-item>
      <wa-menu-item><a href="#conservation">Conservation</a></wa-menu-item>
    </wa-menu></Box
  >
  <Box invert borderWidth="0">
    <wa-menu>
      <wa-menu-item
        ><a href="#" class="wa-flank">
          <wa-icon name="camera"></wa-icon>
          <span>Photo Gallery</span>
        </a></wa-menu-item
      >
      <wa-menu-item
        ><a href="#" class="wa-flank">
          <wa-icon name="map-location-dot"></wa-icon>
          <span>Interactive Range Map</span>
        </a></wa-menu-item
      >
    </wa-menu></Box
  >
</Stack>
