---
import { cn } from '@repo/utils/cn';
interface Props {
  cta?: string;
  title?: string;

  size?: 'xs' | 'sm' | 'md' | 'lg' | 'xl';
}

const { cta = 'Buy Now', title = 'title', size = 'xs' } = Astro.props as Props;

const cardSize = 'card-' + size;
---

<!-- <div class={cn('card w-96 bg-base-100  shadow-sm', cardSize)}> -->
  <div class='card w-96 bg-base-100  shadow-sm card-xs'> 
  <div class="card-body">
    <h2 class="card-title">{title}</h2>
    <p>
      A card component has a figure, a body part, and inside body there are
      title and actions parts
    </p>

    <div class="card-actions justify-end">
      <button class="btn btn-primary">{cta}</button>
    </div>
  </div>
</div>
