---
import Layout from '@/layouts/Layout.astro';
// import Card from '@/components/Card.astro';
import { Stack } from '@repo/layout-wc';
import Box from '@repo/lit-layout-wc/Box';
---

<Layout title="Welcome to Astro.">
  <Stack space="2rem">
    <Box><h4>Learn how Astro works and explore the official API docs.</h4></Box>
    <Box invert
      ><h4>Learn how Astro works and explore the official API docs.</h4></Box
    >
    <Box><h4>Learn how Astro works and explore the official API docs.</h4></Box>
    <!-- <Box><h4>Learn how Astro works and explore the official API docs.</h4></Box>
    <Box><h4>Learn how Astro works and explore the official API docs.</h4></Box> -->
  </Stack>
</Layout>

<!-- <Card
          href="https://docs.astro.build/"
          title="Documentation"
          body="Learn how Astro works and explore the official API docs."
        /> -->
