---
// import DatePicker from '#components/DatePicker.astro';
// import Card from '@/components/Card.astro';
import Stack from '@repo/layout-webcomponents/Stack';

import Layout from '#layouts/Layout.astro';
import Box from '@repo/ui-lit/Box';
---

<Layout title="Welcome to Astro.">
  <Box borderWidth="2px">
    <Stack space="2rem">
      <Box padding="var(--s0)">
        <h1>
          Welcome to my long overdue public-professoinal-personal shingle.
        </h1>
        <p>
          This is a WIP. Standby for sizzling oringnal and nurtious content.
        </p>
      </Box>
      <div style="color: #4a90e2;">
        <wa-icon name="exclamation-triangle"></wa-icon>
        <wa-icon name="archive"></wa-icon>
        <wa-icon name="battery-three-quarters"></wa-icon>
        <wa-icon name="bell"></wa-icon>
      </div>
      <div style="color: #9013fe;">
        <wa-icon name="clock"></wa-icon>
        <wa-icon name="cloud"></wa-icon>
        <wa-icon name="download"></wa-icon>
        <wa-icon name="file"></wa-icon>
      </div>
      <div style="color: #417505;">
        <wa-icon name="flag"></wa-icon>
        <wa-icon name="heart"></wa-icon>
        <wa-icon name="image"></wa-icon>
        <wa-icon name="bolt-lightning"></wa-icon>
      </div>
      <div style="color: #f5a623;">
        <wa-icon name="microphone"></wa-icon>
        <wa-icon name="search"></wa-icon>
        <wa-icon name="star"></wa-icon>
        <wa-icon name="trash"></wa-icon>
      </div>
    </Stack>
  </Box>
</Layout>
