---
import HeadContent from '#components/HeadContent.astro';

import { CONFIG } from '../config';

type Props = {
  title?: string;
  description?: string;
  image?: string;
};
const {
  title = CONFIG.site_title,
  description = CONFIG.description,
  image = '/og-default.jpg',
} = Astro.props;
---

<!doctype html>
<html lang="en-us">
  <head>
    <HeadContent title={title} description={description} image={image} />
  </head>
  <body>
    <slot />
  </body>
</html>
