---

---

<label class="peer ...">
  <input type="checkbox" checked />
</label>
<button
  class="not-peer-has-checked:opacity-0 peer-has-checked:block hidden transition-all"
>
  I hide
</button>
<label class="peer ...">
  <input type="checkbox" checked />
</label>
<button
  class="transition-discrete not-peer-has-checked:opacity-0 peer-has-checked:block hidden transition-all"
>
  I fade out
</button>
