---

---

<label class="peer ...">
  <input type="checkbox" checked />
</label>
<button
  class="hidden transition-all not-peer-has-checked:opacity-0 peer-has-checked:block"
>
  I hide
</button>
<label class="peer ...">
  <input type="checkbox" checked />
</label>
<button
  class="hidden transition-all transition-discrete not-peer-has-checked:opacity-0 peer-has-checked:block"
>
  I fade out
</button>
