---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Modal from '@repo/astro-ui/Modal';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <!-- <Welcome /> -->
  <div>
    <button class="btn btn-primary">One</button>
    <button class="btn btn-secondary">Two</button>

    <button class="btn btn-accent btn-outline">Three</button>
    <button class="btn btn-success">success</button>
    <button class="btn btn-alert">alert</button>
  </div>
  <div>
    <button class="btn btn-xs">Xsmall</button>
    <button class="btn btn-sm">Small</button>
    <button class="btn">Medium</button>
    <button class="btn btn-lg">Large</button>
    <button class="btn btn-xl">Xlarge</button>
  </div>
  <details class="dropdown">
    <summary class="btn m-1">open or close</summary>
    <ul
      class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm"
    >
      <li><a>Item 1</a></li>
      <li><a>Item 2</a></li>
    </ul>
  </details>
  <Modal> Press ESC key or click the button below to close </Modal>
</Layout>
