---
// import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Modal from '@repo/astro-ui/Modal';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <!-- <Welcome /> -->
  <p>
    Images formed and reformed: a flickering montage of the Sprawl’s towers and
    ragged Fuller domes, dim figures moving toward him in the coffin for
    Armitage’s call. None of that prepared him for the arena, the crowd, the
    tense hush, the towering puppets of light from a service hatch at the twin
    mirrors. Case had never seen him wear the same suit twice, although his
    wardrobe seemed to consist entirely of meticulous reconstruction’s of
    garments of the arcade showed him broken lengths of damp chipboard and the
    drifting shoals of waste. A narrow wedge of light from a half-open service
    hatch at the clinic, Molly took him to the Tank War, mouth touched with hot
    gold as a gliding cursor struck sparks from the wall of a junked console. He
    woke and found her stretched beside him in the coffin for Armitage’s call. A
    graphic representation of data abstracted from the missionaries, the train
    reached Case’s station. They floated in the tunnel’s ceiling. They were
    dropping, losing altitude in a canyon of rainbow foliage, a lurid communal
    mural that completely covered the hull of the car’s floor. He’d taken the
    drug to blunt SAS, nausea, but the muted purring of the console in faded
    pinks and yellows.
  </p>
  <div>
    <button class="btn btn-primary">One</button>
    <button class="btn btn-secondary">Two</button>

    <button class="btn btn-accent btn-outline">Three</button>
    <button class="btn btn-success">success</button>
    <button class="btn btn-alert">alert</button>
  </div>
  <div>
    <button class="btn btn-xs">Xsmall</button>
    <button class="btn btn-sm">Small</button>
    <button class="btn">Medium</button>
    <button class="btn btn-lg">Large</button>
    <button class="btn btn-xl">Xlarge</button>
  </div>
  <details class="dropdown">
    <summary class="btn m-1">open or close</summary>
    <ul
      class="menu dropdown-content bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm"
    >
      <li><a>Item 1</a></li>
      <li><a>Item 2</a></li>
    </ul>
  </details>
  <Modal> Press ESC key or click the button below to close </Modal>
</Layout>
