@import 'open-props/open-props.min.css';

:root {
  --font-size-base: 1rem;
  --ratio: 1.618; /* Golden ratio */
  --s0: var(--font-size-base); /* 1rem */
  --s1: calc(var(--s0) * pow(var(--ratio), 1)); /* ≈ 1.618rem */
  --color-light: #b197fc;
  --color-dark: #5235ab;
}
