---
import { z, reference } from 'astro:content';
import {blogSchema} from '#schemas/index.ts';


interface Props {
    data: z.infer<typeof blogSchema>;
      href: string;
}

const {href, data} = Astro.props;

const { cover, title, description, tags } = data
---


  <a class="card bg-base-100 image-full w-96 shadow-sm" href={`/posts/${href}`}>
    <figure>
      <img
        src={cover!.src}
        alt={cover!.alt} />
    </figure>
    
    <div class="card-body">
      <h2 class="card-title">{title}</h2>
      <p>A card component has a figure, a body part, and inside body there are title and actions parts</p>
      <div class="card-actions justify-end">
        {tags.map((tag) => (
          <div class="btn btn-outline btn-xs sm:btn-sm">{tag}</div>
        ))}
      </div>
    </div>

  </a>