---
import type { HTMLAttributes } from 'astro/types';
type Props = HTMLAttributes<'a'> & {};

const { href } = Astro.props;
---

<a href={href}>
  <span class="absolute inset-0 z-10"></span>
  <slot />
</a>
