---
import { getCollection } from 'astro:content';
import PostCard from '#components/PostCard/index.astro';

import BlogCard from '#components/BlogCard/index.astro';
import Layout from '#layouts/Layout.astro';

export const prerender = true;

export async function getStaticPaths() {
  const publishsedPosts = await getCollection(
    'blog',
    ({ data }) => data.draft !== true,
  );

  const uniqueTags = [
    ...new Set(publishsedPosts.map(({ data }) => data.tags ?? []).flat()),
  ];

  return uniqueTags.map((tag) => ({
    params: { id: tag },
    props: {
      posts: publishsedPosts.filter(({ data }) => data.tags.includes(tag)),
    },
  }));
}

// id is tag
const { id: tag } = Astro.params;
//post with at last one tags
const { posts } = Astro.props;
---

<Layout title={tag}>
  <h2 slot="headline">{tag}</h2>
  <div class="grid grid-cols-1 gap-2">
    {posts.map(({ id, data }) => <PostCard data={data} href={id} />)}
  </div>
</Layout>
