---
import Header from '#components/Header.astro';
import Footer from '#components/Footer.astro';
import Cover from '@repo/layout-webcomponents/Cover';
import Center from '@repo/layout-webcomponents/Center';
import BaseLayout from './BaseLayout.astro';

interface Props {
  title?: string;
  description?: string;
  children: unknown;
  maxW?: string;
}

const { title, description, maxW = '60ch' } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Cover centeredElement="center-l" noPad>
    <Header />
    <!-- <div class="mx-auto flex max-w-[60ch] flex-col border-2">
      <slot />
    </div> -->
    <Center gutters="1ch" max={maxW}><slot /> </Center>
    <Footer />
  </Cover>
</BaseLayout>
