---
import Hamburger from '#assets/svgs/Hamburger.svg';
import Image from 'astro/components/Image.astro';
import Menu from './Menu.astro';
import DThemeDropDown from '../DThemeDropDown/index.astro';
import { navLinks, OUTBOUND_LINKS, MyAvatar } from '#app.config.ts';

import BreadCrumbs from '#components/BreadCrumbs/index.astro';
---

<div class="px-2">
  <BreadCrumbs />
  <div class="navbar bg-base-100 px-0 shadow-sm">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <Hamburger />
        </div>
        <Menu menuItems={navLinks} />
      </div>
      <a class="btn btn-ghost btn-md lg:btn-lg" href="./">Mike Connor-Tech</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <Menu menuItems={navLinks} class="menu menu-horizontal px-1" />
      <DThemeDropDown />
    </div>
    <div class="navbar-end">
      <div class="avatar">
        <div class="w-12 rounded-full md:w-24">
          <Image alt="xxx" src={MyAvatar} />
        </div>
      </div>
    </div>
  </div>
</div>
