---
import Box from '@repo/layout-webcomponents/Box';

import Layout from '#layouts/Layout.astro';
export const prerender = false;

---

<Layout title="404 - Page Not Found">
  <Box borderWidth="0"
    ><p>Oops - 404</p>

    <section>
      <div class="container">
        <a href="/" role="button">Back to home</a>
      </div>
    </section>
  </Box>
</Layout>
