---
import Box from '@repo/layout-webcomponents/Box';

import Layout from '#layouts/Layout.astro';

const pageTitle = '404';
---

<Layout title={pageTitle} maxW="60ch">
  <Box borderWidth="0"
    ><p>OOPS</p>

    <section>
      <div class="container">
        <a href="/" role="button">Back to home</a>
      </div>
    </section>
  </Box>
</Layout>
