---
import Layout from '#layouts/Layout.astro';
import Prose from '#components/Prose.astro';

export const prerender = true;
---

<Layout title="About">
  <h2 slot="headline">About</h2>
  <Prose>
    <p>I am Mike Connor, a software engineer with a passion for building</p>
  </Prose>
</Layout>
