---
import Layout from '#layouts/Layout.astro';
import Prose from '#components/Prose.astro';
import Frame from '@repo/layout-webcomponents/Frame';
import Stack from '@repo/layout-webcomponents/Stack';
// import Carousel from '@repo/astro-ui/Carousel';
import { Image } from 'astro:assets';
// import Mix from '@repo/astro-ui/Mix';
// import Btns from '@repo/astro-ui/Btns';
import { timeCapsules } from '#app.config.ts';
import TimeLine from '#components/TimeLine/index.astro';
import Bushes from '#assets/andyBushes.jpg';
import Headline from '#components/Headline.astro';
// import Mud from '#assets/andy_mud_color.webp';
// import Bushes from '#assets/Andy.jpg';
// import Kells from '#assets/kelleys.jpg';
// import sovietplane from '#assets/sovietplane.jpg';
---

<Layout title="About">
  <Stack space="var(--s1)">
  <!-- <Btns /> -->
  <!-- <Prose> -->
    <!-- <Stack> -->
    <!-- <div class="prose md:prose-lg md:prose-xl prose-img:rounded-xl">
      <Frame ratio="1.6180:1">
        <Image src={Andy} alt="Andy" class="float-right" />
      </Frame>
    </div> -->

    <Headline headline="About" />
    <!-- <Frame ratio="3:2"> -->
    <!-- <div class=""> -->
      <Image
        src={Bushes}
        alt="Andy"
        layout="constrained"
        class="hue-cycle aspect-3/2 object-none py-0 portrait:aspect-square"
      />
      <!-- </Frame> -->
    <!-- </div> -->

    <p class="prose">
      I'm a front-end developer currently based in my hometown of historic
      Westport, KCMO right across from Bronze Jim Bridger. And were my Irish
      great-great grand-father, John Connor, lived in 1857. Right on Westport Rd
      - KC's Bourbon Street.
    </p>

    <TimeLine items={timeCapsules} />
       <p class="prose">The best thing about KC.. no rats. But lots of rabbits.</p>
    </Stack>
  <!-- </Prose> -->
</Layout>
<!-- <Carousel images={imageSources} /> -->

<!-- </Stack> -->

<style>
  @media (orientation: portrait) {
    .frame {
      aspect-ratio: 1 / 1;
    }
  }

  .hue-cycle {
    animation: hue-rotation 4s ease-in-out infinite alternate;
  }

  @keyframes hue-rotation {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(180deg);
    }
  }
</style>
