---
import Layout from '#layouts/Layout.astro';
import Stack from '@repo/layout-webcomponents/Stack';
import Box from '@repo/layout-webcomponents/Box';

const pageTitle = 'About';
---

<Layout title={pageTitle} maxW="60ch">
  <Stack space="var(--s000)">
    <Box borderWidth="0"
      ><p>
        I'm a software developer who's done a little of everything for a long
        time—especially Single Page Applications (SPAs).
      </p></Box
    >

    <Box borderWidth="0"
      ><p>
        <strong>React, Next.js, React Native, Expo</strong>—you name it, I’ve
        probably worked with it. (Yes, I’ve even been around for <strong
          >Flash</strong
        > and <strong>Macromedia Director!</strong>). I spent years working in
        the lucrative black hole of digital advertising (think VPAD, VAST). I
        was the short-order cook who got the last-minute, high-stakes
        tickets—fixing sloppy code to get it production-ready just in time.
      </p></Box
    >

    <Box borderWidth="0" invert
      ><p>
        Like the Johnny Cash song, I’ve been <em>everywhere</em>. But recently,
        I stepped back. Like a flawed hero in a kung fu movie, I retreated to
        the forest to learn something new—<em>to be like water</em>.
      </p></Box
    >

    <Box borderWidth="0"> <h3>Less JavaScript, Better CSS</h3></Box>

    <Box borderWidth="0"
      ><p>
        All signs pointed towards one thing: <strong>simplicity</strong>.
      </p></Box
    >

    <Box borderWidth="0"
      ><p>
        I discovered new tools and standards, and it felt like a turning point.
        Then I found <a href="https://astro.build/">Astro</a> (thanks to a <a
          href="https://syntax.fm">Syntax</a
        > podcast). It’s a meta-framework that handles multiple JS frameworks—or
        can spit out lightning-fast static sites. Life’s too short to go down another
        rabbit hole (<em>I’m looking at you, AngularJS</em>).
      </p></Box
    >

    <h3>CSS Without the Hacks</h3>

    <Box borderWidth="0"
      ><p>
        It was also time to stop hacking at CSS. I owe a huge debt to <a
          href="https://heydonworks.com/">Heydon Pickering</a
        > and <a href="https://andy-bell.co.uk/">Andy Bell</a> for their work on
        layout patterns like Box, Stack, Cluster, Switcher, Sidebar, and Grid. Combining
        these patterns with Open Props made me feel like I wasn’t faking it anymore.
        I was finally <em>making it</em>.
      </p></Box
    >

    <Box borderWidth="0"> <h3>What’s Next?</h3></Box>

    <Box borderWidth="0"
      ><p>
        Web components with <strong>Lit</strong>. Bringing my <strong
          >Supabase</strong
        > skills into the Astro mix. Leveraging my <strong>React</strong> expertise
        for the UI. Am I diving deep into the latest React state management trends?
        Not so much. <strong>Svelte</strong> is looking really appealing these days.
      </p></Box
    >

    <Box borderWidth="0"
      ><p>
        What’s immediately next? Getting this professional/personal blog up and
        running—and letting the world know I’m available, open to discussions,
        and ready to take on new opportunities.
      </p></Box
    >
  </Stack>
</Layout>
