---
// import DaisySideCard from '#components/DaisySideCard/index.astro';

import Layout from '#layouts/Layout.astro';
import Prose from '#components/Prose.astro';

export const prerender = true
---

<Layout title="About">
  <Prose>
    <h1>About</h1>
    <p>
      I am Mike Connor, a software engineer with a passion for building
    </p>
  </Prose>
</Layout>
