---
import { Image } from 'astro:assets';
import Layout from '#layouts/Layout.astro';
import Prose from '#components/Prose.astro';
import TimeLine from '#components/TimeLine/index.astro';
import Frame from '@repo/layout-webcomponents/Frame';
import Stack from '@repo/layout-webcomponents/Stack';
import Andy from '#assets/andy_mud_color.webp';
import Carousel from '@repo/astro-ui/Carousel';
export const prerender = true;

const timeCapsules = [
  { label: 'DC', year: 1990, first: true },
  { label: 'NYC', year: 1995 },
  { label: 'Portland, OR', year: 2012 },
  { label: 'New Orleans', year: 2014 },
  { label: 'KCMO', year: 2022, last: true },
];

const imageSources = [
  {
    img: 'https://img.daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.webp',
    altText: 'Beautiful landscape with mountains and lake',
  },
  {
    img: 'https://img.daisyui.com/images/stock/photo-1565098772267-60af42b81ef2.webp',
    altText: 'Colorful autumn forest scene',
  },
  {
    img: 'https://img.daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.webp',
    altText: 'Tropical beach with palm trees',
  },
  {
    img: 'https://img.daisyui.com/images/stock/photo-1494253109108-2e30c049369b.webp',
    altText: 'City skyline at sunset',
  },
  {
    img: 'https://img.daisyui.com/images/stock/photo-1550258987-190a2d41a8ba.webp',
    altText: 'Serene mountain lake reflection',
  },
  {
    img: 'https://img.daisyui.com/images/stock/photo-1559181567-c3190ca9959b.webp',
    altText: 'Desert landscape with cacti',
  },
  {
    img: 'https://img.daisyui.com/images/stock/photo-1601004890684-d8cbf643f5f2.webp',
    altText: 'Ocean waves crashing on rocks',
  },
];
---

<Layout title="About">
  <Stack space="var(--s1)">
    <TimeLine items={timeCapsules} />
    <Prose>
      <h1>About Me</h1>
      <p>Software dev, traveller, white water rafting guide, Crossfitter</p>
      <p>
        This is a blog about my adventures in software development, travel, and
        fitness.
      </p>
    </Prose>

    <!-- <Frame ratio="1.6180:1">
      <Image
        class="rounded-xl"
        src={Andy}
        sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px`}
        alt="Andy in the mud"
      />
    </Frame> -->

    <Carousel images={imageSources} />
  </Stack>
</Layout>

<script is:inline>
  document
    .getElementById('secret-sound')
    .addEventListener('click', () =>
      document.getElementById('egg-audio').play(),
    );
</script>
