---
import Stack from '@repo/layout-webcomponents/Stack';
import Box from '@repo/ui-lit/Box';

import Layout from '#layouts/Layout.astro';
---

<Layout maxW="80ch">
  <Stack space="0">
    <h2>This is my website</h2>

    <Box />
  </Stack>
</Layout>
