---
import Layout from '#layouts/Layout.astro';
import { Stack, Sidebar } from '#astro-wc/index.js';
import Box from '#lit-wc/Box/index.astro';
const pageTitle = 'box class';
---

<Layout title={pageTitle}>
  <Sidebar contentMin="20%" noStretch={false} sideWidth="30ch">
    <Stack recursive splitAfter={2}>
      <Box>xxx</Box>
      <Box>xxx</Box>
      <Box>xxx</Box>
    </Stack>
    <Box
      ><p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam magnam est
        iure veniam eos saepe unde doloremque corporis? Mollitia ex reiciendis
        ea iure, at neque velit vero nihil esse sed. Lorem ipsum, dolor sit amet
        consectetur adipisicing elit. Nam magnam est iure veniam eos saepe unde
        doloremque corporis? Mollitia ex reiciendis ea iure, at neque velit vero
        nihil esse sed.
      </p></Box
    >
  </Sidebar>
  <!-- <div class="app-colors"> -->
</Layout>
<!-- </div> -->

<style>
  .pre-wrap {
    white-space: pre-wrap;
  }
</style>
