---
import Stack from '@repo/layout-webcomponents/Stack';
import Box from '@repo/layout-webcomponents/Box';

import Layout from '#layouts/Layout.astro';

const pageTitle = 'box module';
---

<Layout title={pageTitle}>
  <h1>Welcome to the Box Module</h1>
  <p>
    Voluptate non proident mollit aliqua ea ad magna reprehenderit Lorem sunt
    deserunt. Ea do consectetur do sunt aute dolore cupidatat. Eiusmod et
    occaecat incididunt aliqua occaecat amet do pariatur proident dolor occaecat
    amet magna reprehenderit. Anim et enim deserunt commodo exercitation nostrud
    adipisicing deserunt reprehenderit irure commodo irure.
  </p>
  <blockquote>
    Ullamco esse dolore nisi sit incididunt qui labore minim occaecat in tempor
    enim id. Ullamco exercitation nulla dolor voluptate duis et. Cillum irure
    commodo reprehenderit cillum eiusmod. Incididunt veniam non sit cillum ea
    dolor qui ea est magna sit dolore est excepteur. Consequat ex nulla proident
    culpa cillum eu nulla quis ad voluptate. Fugiat exercitation Lorem ullamco
    culpa nisi anim elit. Tempor labore nostrud ullamco cupidatat veniam ad
    irure culpa magna reprehenderit incididunt et officia in.
  </blockquote>

  <h2>Features</h2>
  <p>
    Et culpa ad adipisicing consequat consequat deserunt veniam adipisicing do
    occaecat esse. Duis pariatur esse ad nisi magna laborum mollit Lorem dolore
    Lorem. Dolor aliquip in amet ea labore pariatur. Excepteur est est ea minim
    fugiat. Elit duis ipsum sit minim eu in nulla anim quis.
  </p>
  <h2>Usage</h2>
  <p>
    Dolor quis ea nulla irure irure cupidatat velit eiusmod enim consectetur.
    Nostrud ut mollit minim est eu qui. Ex veniam in magna ea est Lorem fugiat
    nisi cupidatat aute non ea eiusmod. Et dolor nostrud elit ex aliquip laborum
    adipisicing sint. Velit reprehenderit amet commodo ipsum commodo in dolor
    sunt.
  </p>
</Layout>
