---
import Layout from '#layouts/BaseLayout.astro';
import Stack from '@repo/layout-webcomponents/Stack';
import ImageWrapper from '#components/ImageWrapper/index.astro';
// import type { ComponentProps } from 'astro/types';
---

<Layout description="animation test">
  <div
    class="hero min-h-screen"
    style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);"
  >
    <div class="hero-overlay"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md rounded-xl bg-gray-500/50 p-4">
        <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
        <p class="font-sm mb-5 text-lg">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
          excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
          id nisi.
        </p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>
</Layout>
