---
import Layout from '#layouts/Layout.astro';
import Box from '#lit-wc/Box/index.astro';
import Imposter from '#astro-wc/Imposter/index.astro';
---

<!-- heroImage="/blog-placeholder-about.jpg" -->
<Layout title="test Me" description="Lorem ipsum dolor sit amet">
  <Box>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat magnam
      architecto voluptas natus modi nulla sint aspernatur ex? Unde modi,
      blanditiis iste sed asperiores consequatur nulla ducimus neque enim
      corrupti!
    </p>

    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat magnam
      architecto voluptas natus modi nulla sint aspernatur ex? Unde modi,
      blanditiis iste sed asperiores consequatur nulla ducimus neque enim
      corrupti!
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat magnam
      architecto voluptas natus modi nulla sint aspernatur ex? Unde modi,
      blanditiis iste sed asperiores consequatur nulla ducimus neque enim
      corrupti! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Placeat magnam architecto voluptas natus modi nulla sint aspernatur ex?
      Unde modi, blanditiis iste sed asperiores consequatur nulla ducimus neque
      enim corrupti! Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Placeat magnam architecto voluptas natus modi nulla sint aspernatur ex?
      Unde modi, blanditiis iste sed asperiores consequatur nulla ducimus neque
      enim corrupti!
    </p>
  </Box>
  <div id="my-dialog">
    <Imposter fixed>
      <Box invert>
        <button>Close</button>
        <h2>I am a modal wrapped</h2>
      </Box>
    </Imposter>
  </div>
</Layout>
