---
export const prerender = true;

// import { fade } from 'astro:transitions';
// interface ImageMetadata {
//   src: string;
//   width: number;
//   height: number;
//   format: string;
// }
import GreetingBtn from '#components/actions-buttons/GreetingBtn/index.astro';

import Frame from '@repo/layout-webcomponents/Frame';
import Stack from '@repo/layout-webcomponents/Stack';
// import Cluster from '@repo/layout-webcomponents/Cluster';
import Box from '@repo/layout-webcomponents/Box';
import Clock from '@repo/ui-lit/Clock';
import { Image } from 'astro:assets';
import Andy from '#assets/andy-og.webp';
// import Andy from '#assets/andyBushes.jpg';
import AndyMud from '#assets/andy_mud_color.webp';
import Layout from '#layouts/Layout.astro';
import Hero from '#components/Hero.astro';
---

<Layout>
  <Stack space="0" splitAfter={2}>
    <Box invert padding="0"><Hero /></Box>
    <Box borderWidth="0">
      <GreetingBtn />
    </Box>

    <details>
      <summary>Tincidunt nunc pulvinar</summary>
      <p>
        Ut lectus arcu bibendum at varius. Convallis a cras semper auctor neque
        vitae. Odio pellentesque diam volutpat commodo sed egestas. Amet dictum
        sit amet justo donec enim diam vulputate ut.
      </p>
    </details>

    <!-- <Clock /> -->
    <Box borderWidth="0" padding="0">
      <Frame ratio="16:9">
        <Image
          src={Andy}
          layout="responsive"
          priority
          alt="A description of my image."
        />
      </Frame>
      <h3>This is my dog</h3></Box
    >
  </Stack>
</Layout>
