---
import DCard from '#components/DCard/index.astro';
// import AndyMud from '#assets/andy_mud_color.webp';
import Layout from '#layouts/Layout.astro';

const features = [
  '24-7 customer support',
  'Unlimited access to all features',
  'Free trial for 30 days',
  'No credit card required',
  'Cancel anytime',
  'Access to exclusive content',
  'Priority support',
  'Early access to new features',
];

const LEN = features.length;
---

<Layout maxW="80ch">
  <button class="btn btn-primary">One</button>
  <button class="btn btn-secondary">Two</button>
  <button class="btn btn-outline btn-accent">Three</button>
  <button class="btn rounded-full">One</button>
  <button class="btn rounded-none px-16">Two</button>
  <DCard />
</Layout>
