---
import Layout from '#layouts/Layout.astro';

interface Props {
  domain?: string;
  name?: string;
}

import MailtoBtn from '#components/actions-buttons/MailtoBtn.astro';
---

<Layout title="Home" description="Home page of the Mike Blog">
  <h3 class="mb-4 text-3xl font-bold">Welcome</h3>

  <div><MailtoBtn /></div>
</Layout>
