---
// export const prerender = true;
// import AstroNavigateSelect from '#components/AstroNavigateSelect.astro';
// import { fade } from 'astro:transitions';
// interface ImageMetadata {
//   src: string;
//   width: number;
//   height: number;
//   format: string;
// }
import Frame from '@repo/layout-webcomponents/Frame';
import Stack from '@repo/layout-webcomponents/Stack';
import Box from '@repo/ui-lit/Box';
import { Image } from 'astro:assets';

// import Andy from '#assets/andyBushes.jpg';
import AndyMud from '#assets/andy_mud_color.webp';
import Layout from '#layouts/Layout.astro';
---

<Layout maxW="80ch">
  <Stack space="0">
    <h2>This is my website</h2>

    <Box>
      <Frame ratio="16:9">
        <Image
          src={AndyMud}
          widths={[240, 540, 720, AndyMud.width]}
          sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${AndyMud.width}px`}
          alt="A description of my image."
        />
      </Frame>
      <h3>This is my dog</h3>
    </Box>
  </Stack>
</Layout>

<style>
  h2,
  h3 {
    font-family: var(--font-antique);
  }
</style>
