---
// import DaisySideCard from '#components/DaisySideCard/index.astro';

import Layout from '#layouts/Layout.astro';

import Box from '@repo/layout-webcomponents/Box';
// import Box from '#components/Box/index.astro';
import { NAME, SITE_TITLE } from '#app.config.ts';
import PriceCardDemo from '#demos/pricecard.astro';
---

<Layout maxW="80%">
  <div>
    <PriceCardDemo />
  </div>
</Layout>
