---
import DaisySideCard from '#components/DaisySideCard/index.astro';
// import AndyMud from '#assets/andy_mud_color.webp';
import Layout from '#layouts/Layout.astro';
// import DPrice from '#components/DaisyPriceCard.astro';
const features = [
  '24-7 customer support',
  'Unlimited access to all features',
  'Free trial for 30 days',
  'No credit card required',
  'Cancel anytime',
  'Access to exclusive content',
  'Priority support',
  'Early access to new features',
];

const LEN = features.length;
---

<Layout maxW="80%">
  <div class="flex flex-row gap-4">

    <DaisySideCard />
    <DaisySideCard />
   <!-- <DPrice />
   <DPrice />
   <DPrice />
   <DPrice />
   <DPrice />
   <DPrice /> -->

</div>
  <!-- <div class="card card-side bg-base-100 shadow-sm">
    <figure>
      <img
        src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
        alt="Movie" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">New movie is released!</h2>
      <p>Click the button to watch on Jetflix app.</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Watch</button>
      </div>
    </div>
  </div> -->
</Layout>
