---
import Box from '@repo/ui-lit/Box';

import HeartBtn from '@repo/astro-wc/HeartBtn';
import LitWCbtn from '@repo/ui-lit/HeartLitBtn';
import Warning from '#components/Warning.astro';
import Layout from '#layouts/Layout.astro';

import Hello from '@repo/ui-lit/Hello';

const WARNING = `This Astro integration to enable server-side rendering and client-side hydration for your Lit custom elements was deprecated in Astro 5.0.`;
---

<Layout>
  <Box>
    <Box>
      <h4>An Astro Web Component</h4>
      <HeartBtn /></Box
    >
    <Box>
      <h4>
        A <a href="https://lit.dev/">lit</a> Web Component (client-side)
      </h4><LitWCbtn>hello</LitWCbtn>
    </Box>

    <Box>
      <h4>
        A <a href="https://lit.dev/">lit</a> Web Component (client-side)
      </h4>
      <LitWCbtn>hello</LitWCbtn>

      <Warning copy={WARNING} />
    </Box>
    <Box>
      <p>
        Astro components are HTML-only templating components with no client-side
        runtime. But, you can use a <e>&lt;script&gt;</e> tag in your Astro component
        template to send JavaScript to the browser that executes in the global scope.
      </p>
    </Box>

    <Hello>this is lit</Hello>
  </Box>
</Layout>
