---
import Layout from '#layouts/Layout.astro';

import { Stack } from '#astro-wc/index.js';
import Box from '#lit-wc/Box/index.astro';
---

<Layout>
  <Stack recursive space="var(--s00)" splitAfter={4}>
    <Box>
      <p class="copy">Lorem ipsum dolor, sit amet consec</p>
    </Box>
    <Box>
      <p class="copy">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam sed
        non, fugit excepturi nihil illum similique culpa suscipit temporibus
        quasi accusantium, odio minima provident voluptas dolorum esse error!
        Expedita, molestiae!
      </p>
    </Box>
    <Box>
      <p class="copy">
        ectetur adipisicing elit. Veniam sed non, fugit excepturi nihil illum
        similique culpa suscipit temporibus quasi accusantium, odio minima
        provident voluptas dolorum esse error! Expedita, molestiae!
      </p>
    </Box>
    <Box>
      <Box invert>
        <p class="copy">ectetur adipisicing elit. Veniam sed non, fugit</p>
      </Box>
      <Box invert>
        <p class="copy">ectetur adipisicing elit. Veniam sed non, fugit</p>
      </Box>
      <Box invert>
        <p class="copy">ectetur adipisicing elit. Veniam sed non, fugit</p>
      </Box>
      <Box invert>
        <p class="copy">ectetur adipisicing elit. Veniam sed non, fugit</p>
      </Box>
    </Box>
    <Box>
      <p class="copy">Lorem ipsum dolor, sit amet consec</p>
    </Box>
    <Box>
      <p class="copy">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam sed
        non, fugit excepturi nihil illum similique culpa suscipit temporibus
        quasi accusantium, odio minima provident voluptas dolorum esse error!
        Expedita, molestiae!
      </p>
    </Box>

    <Box>
      <p class="copy">
        ectetur adipisicing elit. Veniam sed non, fugit excepturi nihil illum
        similique culpa suscipit temporibus quasi accusantium, odio minima
        provident voluptas dolorum esse error! Expedita, molestiae!
      </p>
    </Box>
    <Box>
      <p class="copy">Lorem ipsum dolor, sit amet consec</p>
    </Box>
    <Box>
      <p class="copy">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam sed
        non, fugit excepturi nihil illum similique culpa suscipit temporibus
        quasi accusantium, odio minima provident voluptas dolorum esse error!
        Expedita, molestiae!
      </p>
    </Box>
    <Box>
      <Box>
        <Box invert>
          <p class="copy">ectetur adipisicing elit. Veniam sed non, fugit</p>
        </Box>
        <Box invert>
          <p class="copy">ectetur adipisicing elit. Veniam sed non, fugit</p>
        </Box>
        <Box invert>
          <p class="copy">ectetur adipisicing elit. Veniam sed non, fugit</p>
        </Box>
        <Box invert>
          <p class="copy">ectetur adipisicing elit. Veniam sed non, fugit</p>
        </Box>
      </Box>
      <Box>
        <p class="copy">Lorem ipsum dolor, sit amet consec</p>
      </Box>
    </Box>
  </Stack>
</Layout>

<style>
  p.copy {
    font-size: var(--font-size-0);
  }
</style>
