---
import Image from 'astro/components/Image.astro';
// import Card from '#components/Card.astro';
// // Component Imports
import Button from '#components/Button.astro';
import Andy from '#assets/andy-og.webp';
import NestedList from '#components/NestedList.astro';
import ProseLayout from '#layouts/ProseLayout.astro';
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<ProseLayout title="about">
  <h1>Voluptate ex quis pariatur aliqua.</h1>
  <Button>Tailwind Button in Astro!</Button>

  <div>
    <a href="/markdown-page" class="p-4 underline"
      >Markdown is also supported...</a
    >
  </div>
  <div>Laboris amet nulla enim est irure dolore commodo non.</div>
  <!-- <Card href="#" label="Incredible accommodation for your team">
    <Image slot="img" src={Andy} alt="Andy" />
    <Fragment slot="headline">Company retreats</Fragment>
    <Fragment slot="description">
      Looking to take your team away on a retreat to enjoy awesome food and take
      in some sunshine? We have a list of places to do just that.
    </Fragment>
  </Card> -->

  <NestedList items={['one', 'two', ['three', 'four', ['five', 'six']]]} />
</ProseLayout>
