---
import ProseLayout from '#layouts/ProseLayout.astro';
import Swatches from '@repo/design-system/Swatches';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<Swatches />
<ProseLayout title="home">
  <h1>
    TLorem excepteur esse duis aliqua ex cupidatat aliquip sit magna irure nisi
    deserunt tempor.
  </h1>
  <section>
    <h2>Aute cillum commodo fugiat nulla et ipsum pariatur.</h2>
    <p class="font-sans">
      Ea ex voluptate reprehenderit culpa enim cillum proident amet.
      Exercitation aliquip excepteur aliquip minim ea eiusmod. Mollit officia
      consectetur consectetur enim quis in veniam. Laborum sit esse magna Lorem
      labore pariatur.
    </p>
  </section>
  <section>
    <h2>Aute cillum commodo fugiat nulla et ipsum pariatur.</h2>
    <p class="font-sans">
      Ea ex voluptate reprehenderit culpa enim cillum proident amet.
      Exercitation aliquip excepteur aliquip minim ea eiusmod. Mollit officia
      consectetur consectetur enim quis in veniam. Laborum sit esse magna Lorem
      labore pariatur.
    </p>
    <h3>Ullamco dolore magna eu cillum aliquip.</h3>
    <p class="font-sans">
      Ea ex voluptate reprehenderit culpa enim cillum proident amet.
      Exercitation aliquip excepteur aliquip minim ea eiusmod. Mollit officia
      consectetur consectetur enim quis in veniam. Laborum sit esse magna Lorem
      labore pariatur.
    </p>
  </section>
</ProseLayout>
