---
interface Props {
  title?: string;
  description?: string;
}

import BaseHead from '#components/BaseHead.astro';

const props = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-gray-500 font-serif text-gray-900 antialiased">
  <head>
    <BaseHead {...props} />
  </head>
  <body>
    <slot />
  </body>
</html>
