<script>
  import './GreetingBtn.ts';
</script>

<greeting-button data-message="enter your name here">
  <button>Get greeting</button>
  <p>enter your name below</p>
  <input id="first-name" />
</greeting-button>
