<script>
  import './GreetingBtn.ts';
</script>

<greeting-button data-message="enter your name here">
  <wa-button data-btn>Get greeting</wa-button>
  <p>enter your name below</p>
  <input type="text" name="login" value="hi" /></greeting-button
>
