<script>
  import './GreetingBtn.ts';
</script>

<greeting-button data-message="enter your name here">
  <button class="bg-sky-500 hover:bg-sky-700">Get greeting</button>
  <p>enter your name below</p>
  <input type="text" name="login" value="hi" /></greeting-button
>
