---
import { getEntry, render } from 'astro:content';

import Layout from '#layouts/Layout.astro';

export const prerender = false;

const { id } = Astro.params;

const video = await getEntry('youtube', id!);

if (video === undefined) {
  return Astro.rewrite('/404');
}

const {title} = video.data.snippet

const { Content } = await render(video);
---

<Layout>
  <h1>{title}</h1>
  <Content />
</Layout>
