---
import { getCollection } from 'astro:content';

import Layout from '#layouts/Layout.astro';

const youtube = await getCollection('youtube');
---

<Layout>
  <main>
    <!-- <pre>{JSON.stringify(youtube, null, 2)}</pre> -->
    <ul>
      {
        youtube.map(({ id, data }) => (
          <li>
            {id}
            <a href={`/announcements/${id}`}>{data.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
