---
import SidebarLayout from '@repo/layout-webcomponents/Sidebar';
import Stack from '@repo/layout-webcomponents/Stack';
import Box from '@repo/layout-webcomponents/Box';

import Layout from '#layouts/Layout.astro';
const pageTitle = 'box class';
---

<Layout title={pageTitle} maxW="100%">
  <SidebarLayout sideWidth="33%" side="left" contentMin="10%" noStretch={true}>
    <div class="border-1 h-full bg-red-400">
      <Stack splitAfter={1}>
        <a class="btn btn-primary">google</a>
        <a class="btn btn-primary">yahoo</a>
        <a class="btn btn-primary">reddit</a>
      </Stack>
    </div>
    <div class="border-1 h-full">
      <p class="">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam magnam est
        iure veniam eos saepe unde doloremque corporis? Mollitia ex reiciendis
        ea iure, at neque velit vero nihil esse sed. Lorem ipsum, dolor sit amet
        consectetur adipisicing elit. Nam magnam est iure veniam eos saepe unde
        doloremque corporis? Mollitia ex reiciendis ea iure, at neque velit vero
        nihil esse sed.
      </p>

      <p class="">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam magnam est
        iure veniam eos saepe unde doloremque corporis? Mollitia ex reiciendis
        ea iure, at neque velit vero nihil esse sed. Lorem ipsum, dolor sit amet
        consectetur adipisicing elit. Nam magnam est iure veniam eos saepe unde
        doloremque corporis? Mollitia ex reiciendis ea iure, at neque velit vero
        nihil esse sed.
      </p>
    </div>
  </SidebarLayout>
</Layout>
