---
import Layout from '#layouts/Layout.astro';

import { SITE_DESCRIPTION } from '#app.config.ts';

// const subpath = Astro.url.pathname.match(/[^/]+/g);
---

<Layout title="Splash Page" description={SITE_DESCRIPTION} maxW="80ch">
  <div class="text-8xl">
    <h1 x-data="{ show: false }" x-init="show = true">
      <template x-for="(char, index) in 'YOUR NAME'.split('')" :key="index">
        <span
          x-text="char"
          :style="{ transitionDelay: `${index * 100}ms` }"
          class="inline-block translate-y-3 opacity-0 transition duration-500"
          x-show="show"
          x-transition.opacity></span>
      </template>
    </h1>
  </div>
  <div class="text-6xl">Developer</div>
</Layout>
