---
// import Stack from '@repo/layout-webcomponents/Stack';
// import Box from '@repo/layout-webcomponents/Box';

import Layout from '#layouts/Layout.astro';
import Prose from '#components/Prose.astro';
import TailwindSVG from '#components/wrappedSVG/tailwindcsssvg/index.astro';
import MarkdownSample from '#content/blog/typography.md';
---

<Layout>
  <div class="bg-base-200 p-2">
    <div class="flex flex-col gap-2">
      <div>
        <TailwindSVG />
        <h1>Not Prose</h1>
        <h2>Tailwind CSS Typography</h2>
        <h3>Tailwind CSS Typography</h3>
        <p>
          Quis dolor in enim elit et nostrud enim. Commodo culpa ad culpa
          aliquip mollit mollit adipisicing eu id mollit Lorem mollit. Tempor
          consectetur non amet officia velit officia esse sint in ipsum elit ex.
          Do laboris elit laborum officia est excepteur. Commodo laborum fugiat
          in dolore.
        </p>
        <ul>
          <li>Quis dolor in enim elit et nostrud enim.</li>
          <li>
            Commodo culpa ad culpa aliquip mollit mollit adipisicing eu id
            mollit Lorem mollit.
          </li>
          <li>
            Tempor consectetur non amet officia velit officia esse sint in ipsum
            elit ex.
          </li>
          <li>Do laboris elit laborum officia est excepteur.</li>
          <li>Commodo laborum fugiat in dolore.</li>
        </ul>
      </div>

      <div>
        <Prose>
          <h1>Prose Text</h1>
          <h2>Tailwind CSS Typography</h2>
          <h3>Tailwind CSS Typography</h3>
          <p class="not-prose bg-accent-500">
            Not Prose dolor in enim elit et nostrud enim. Commodo culpa ad culpa
            aliquip mollit mollit adipisicing eu id mollit Lorem mollit. Tempor
            consectetur non amet officia velit officia esse sint in ipsum elit
            ex. Do laboris elit laborum officia est excepteur. Commodo laborum
            fugiat in dolore.
          </p>
          <p class="">
            Quis dolor in enim elit et nostrud enim. Commodo culpa ad culpa
            aliquip mollit mollit adipisicing eu id mollit Lorem mollit. Tempor
            consectetur non amet officia velit officia esse sint in ipsum elit
            ex. Do laboris elit laborum officia est excepteur. Commodo laborum
            fugiat in dolore.
          </p>
          <ul>
            <li>Quis dolor in enim elit et nostrud enim.</li>
            <li>
              Commodo culpa ad culpa aliquip mollit mollit adipisicing eu id
              mollit Lorem mollit.
            </li>
            <li>
              Tempor consectetur non amet officia velit officia esse sint in
              ipsum elit ex.
            </li>
            <li>Do laboris elit laborum officia est excepteur.</li>
            <li>Commodo laborum fugiat in dolore.</li>
          </ul>
        </Prose>
      </div>
    </div>
  </div>
</Layout>
