---
import BaseLayout from '#layouts/BaseLayout.astro';
import Header from '#components/Header.astro';
import Footer from '#components/Header.astro';

import Center from '@repo/layout-webcomponents/Center';
import Cover from '@repo/layout-webcomponents/Cover';

interface Props {
  title?: string;
  children: unknown;
}

const { title = 'mike connor' } = Astro.props;
---

<BaseLayout title={title}>
  <Cover centeredElement="main" noPad>
    <Header desc={title} />

    <main>
      <Center max="var(--measure)" andText intrinsic> <slot /></Center>
    </main>

    <Footer />
  </Cover>
</BaseLayout>
