---
// import type { HTMLAttributes } from 'astro/types';

interface Props {
  theme: string;
}

const { theme } = Astro.props;
---

<label>
  {theme}
  <input type="radio" name="theme" value={theme} />
</label>

<style>
  label {
    display: in-line;
    padding-right: var(--s2);
  }
</style>
