---
import { getEntry } from 'astro:content';
import Layout from '#layouts/Layout.astro';

const { id } = Astro.params;
if (id === undefined) {
  return Astro.redirect('/404');
}

const country = await getEntry('countries', id);

if (country === undefined) {
  return Astro.redirect('/404');
}

const { data } = country;
---

<Layout title={data.name.common}>
  {JSON.stringify(data)}
  <!-- <p>{data.description}</p> -->
</Layout>
