---
import Stack from '@repo/layout-webcomponents/Stack';
import { getCollection } from 'astro:content';

import Layout from '#layouts/Layout.astro';
import Box from '#wc-lit/Box/index.astro';
export const prerender = false;
const countries = await getCollection('countries');
---

<Layout maxW="80ch">
  <Stack space="0">
    <h2>This is my website</h2>
    <Box>
      <p>{countries.length} countires returned</p>
    </Box>

    {
      countries && (
        <Box>
          {countries.map(({ id, data }) => (
            <Box>
              <h3>{id}-{data.name.common}</h3>
            </Box>
          ))}
        </Box>
      )
    }
  </Stack>
</Layout>
