---
// import Stack from '@repo/layout-webcomponents/Stack';
// import Box from '@repo/layout-webcomponents/Box';
import { getCollection } from 'astro:content';

import Layout from '#layouts/Layout.astro';
export const prerender = false;
const countries = await getCollection('countries');
---

<Layout maxW="80ch">
  <article class="">
    <h1>This is my website</h1>

    <p>{countries.length} countires returned</p>

    {
      countries && (
        <ul>
          {countries.map(({ id, data }) => (
            <li>
              {id}-{data.name.common}
            </li>
          ))}
        </ul>
      )
    }
  </article>
</Layout>
