---
// import { Debug } from 'astro:components';
// import { Code } from 'astro:components';
import { getCollection } from 'astro:content';
import Headline from '#components/Headline.astro';
import Layout from '#layouts/Layout.astro';
const countries = await getCollection('countries');
---

<Layout title="Countires API">
  <!-- <Debug countries={countries} /> -->

  <Headline slot="layoutHeadline" headline="countries in" />

  <p>Countries in the Americas</p>

  <!-- <div class="collapse-arrow collapse border border-base-300 bg-base-100">
    <input type="radio" name="my-accordion-1" checked="checked" />
    <div class="collapse-title font-semibold">The schema</div>
    <div class="collapse-content text-sm">
      <Code
        code={`
  const countrySchema = z.object({
    cca3: z.string(),
    name: z.object({
      common: z.string(),
    }),
  });`}
        lang="js"
        theme="dark-plus"
      />
    </div>
  </div>
  <div class="collapse-arrow collapse border border-base-300 bg-base-100">
    <input type="radio" name="my-accordion-1" />
    <div class="collapse-title font-semibold">content.config.ts</div>
    <div class="collapse-content text-sm">
      <Code
        code={`
  const countries = defineCollection({
    loader: countryLoader({ region: 'Americas' }),
    schema: countrySchema,
  });`}
        lang="js"
        theme="dark-plus"
      />
    </div>
  </div> -->

  <ul class="columns-3">
    {countries.map(({ data }) => <li>{data.name.common}</li>)}
  </ul>
</Layout>
