---
import Center from '@repo/layout-webcomponents/Center';
import Cover from '@repo/layout-webcomponents/Cover';
import Sidebar from '@repo/layout-webcomponents/Sidebar';

import Header from '#components/Header.astro';
import Footer from '#components/Footer.astro';
import BaseLayout from '#layouts/BaseLayout.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title = 'mike connor', description = 'my website' } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <Cover centeredElement="main" noPad>
    <Header desc={title} />
    <main>
      <Center max="100ch">
        <Sidebar sideWidth="30%">
          <slot />
        </Sidebar>
        <Center />
        <Footer />
      </Center>
    </main>
  </Cover></BaseLayout
>
