---
import FeedbackForm from '@repo/svelte/feedback-form';
import Layout from '#layouts/Layout.astro';
---

<Layout centerWidth="80ch">
  <h2>svelte form</h2>
  <FeedbackForm client:load />
</Layout>
