---
import { Counter as ReactKounter } from '@repo/react/counter';
import CounterSvelte from '@repo/svelte/counter';
import { PreactCounter as PCount } from '@repo/preact/counter';

import Layout from '#layouts/Layout.astro';
import SolidCounter from '#components/solid/SolidCounter.tsx';
import VueCounter from '#components/vue/VueCounter.vue';
---

<Layout>
  <main>
    <ReactKounter client:visible>
      <h1>Hello from React!</h1>
    </ReactKounter>

    <PCount client:visible>
      <h1>Hello from Preact!</h1>
    </PCount>

    <SolidCounter client:visible>
      <h1>Hello from Solid!</h1>
    </SolidCounter>

    <VueCounter client:visible>
      <h1>Hello from Vue!</h1>
    </VueCounter>

    <CounterSvelte client:visible>
      <h1>Hello from Svelte!</h1>
    </CounterSvelte>
  </main>
</Layout>
