---
import { Counter as ReactKounter } from '@repo/react/counter';
import CounterSvelte from '@repo/svelte/counter';
import { PreactCounter as PCount } from '@repo/preact/counter';
import Box from '@repo/layout-webcomponents/Box';
import Layout from '#layouts/Layout.astro';
import SolidCounter from '#components/solid/SolidCounter.tsx';
import VueCounter from '#components/vue/VueCounter.vue';
---

<Layout>
  <Box>
    <Box invert>
      <ReactKounter client:only="react" klass="counter">
        <h1>Hello from React!</h1>
      </ReactKounter>
    </Box>

    <PCount client:visible klass="counter">
      <h1>Hello from Preact!</h1>
    </PCount></Box
  >

  <Box>
    <SolidCounter client:visible>
      <h1>Hello from Solid!</h1>
    </SolidCounter></Box
  >

  <Box>
    <VueCounter client:visible>
      <h1>Hello from Vue!</h1>
    </VueCounter></Box
  >

  <Box>
    <CounterSvelte client:visible klass="counter">
      <h1>Hello from Svelte!</h1>
    </CounterSvelte></Box
  >
</Layout>
