---
import Stack from '@repo/layout-webcomponents/Stack';
import { PreactCounter as PCount } from '@repo/preact/counter';
import { LikeBtn as LikePreact} from '@repo/preact/LikeBtn';
import { Counter as ReactKounter } from '@repo/react/counter';
import CounterSvelte from '@repo/svelte/counter';
import Box from '@repo/ui-lit/Box';
// import { SolidCounter as SolidC } from '@repo/solid/counter';
import VueCounter from '@repo/vue/counter';

import Layout from '#layouts/Layout.astro';
---

<Layout>
  <Stack>
    <LikePreact client:visible />
    <Box borderWidth="4px" borderStyle='double'>
      <Box invert borderWidth="4px">
      <ReactKounter client:only="react" klass="counter">
        <h1>Hello from React!</h1>
      </ReactKounter>
    </Box>
    <Box>
    <PCount client:visible klass="counter">
      <h1>Hello from Preact!</h1>
    </PCount></Box
  >

  <!-- <Box>
    <SolidC client:visible>
      <h1>Hello from Solid!</h1>
    </SolidC></Box
  > -->

  <Box>
    <VueCounter client:visible>
      <h1>Hello from Vue!</h1>
    </VueCounter></Box
  >

  <Box>
    <CounterSvelte client:visible klass="counter">
      <h1>Hello from Svelte!</h1>
    </CounterSvelte></Box
  ></Box
  ></Stack>
</Layout>
