---
import Stack from '@repo/layout-webcomponents/Stack';
import PreactCounter from '@repo/preact/Counter';
// import { LikeBtn as LikePreact} from '@repo/preact/LikeBtn';
import ReactCounter from '@repo/react/Counter';
import CounterSvelte from '@repo/svelte/counter';
// import { SolidCounter as SolidC } from '@repo/solid/counter';
import VueCounter from '@repo/vue/counter';

import Layout from '#layouts/Layout.astro';
import Box from '@repo/ui-lit/Box';
import Switcher from '@repo/layout-webcomponents/Switcher';
---

<style>
  .counter {
    display: grid;
    font-size: 2em;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: 2em;
    place-items: center;
  }

  .counter-message {
    text-align: center;
  }
</style>

<Layout centerWidth="80ch">
  <Box borderWidth="4px" borderStyle="double">
    <Switcher>
      <Box>
        <ReactCounter client:only="react" klass="counter">
          <h1>Hello from React!</h1>
        </ReactCounter>
      </Box>

      <Box>
        <PreactCounter client:visible klass="counter">
          <h1>Hello from Preact!</h1>
        </PreactCounter></Box
      >
      <Box>
        <VueCounter client:visible>
          <h1>Hello from Vue!</h1>
          <wa-icon family="vue" name="font-awesome"></wa-icon>
        </VueCounter></Box
      >

      <Box>
        <CounterSvelte client:visible klass="counter">
          <h1>Hello from Svelte!</h1>
          <wa-icon family="svelte" name="font-awesome"></wa-icon>
        </CounterSvelte></Box
      >
    </Switcher>
  </Box>
</Layout>
