---
import { Counter } from '@repo/react/Counter';
import { PreactCounter } from '@repo/preact/PreactCounter.tsx';
import Layout from '#layouts/Layout.astro';
import SolidCounter from '#components/solid/SolidCounter.tsx';
import VueCounter from '#components/vue/VueCounter.vue';
import SvelteCounter from '#components/svelte/SvelteCounter.svelte';
---

<Layout>
  <main>
    <Counter client:visible>
      <h1>Hello from React!</h1>
    </Counter>

    <PreactCounter client:visible>
      <h1>Hello from Preact!</h1>
    </PreactCounter>

    <SolidCounter client:visible>
      <h1>Hello from Solid!</h1>
    </SolidCounter>

    <VueCounter client:visible>
      <h1>Hello from Vue!</h1>
    </VueCounter>

    <SvelteCounter client:visible>
      <h1>Hello from Svelte!</h1>
    </SvelteCounter>
  </main>
</Layout>
