---
// import Stack from '@repo/layout-webcomponents/Stack';
import { Counter as PreactCounter } from '@repo/preact';
import { Counter as ReactCounter } from '@repo/react';
import Colors from '@repo/react/Colors';

// import { SolidCounter as SolidC } from '@repo/solid/counter';
import VueCounter from '@repo/vue/Counter';
import SvelteCounter from '@repo/svelte/Counter';

import Layout from '#layouts/Layout.astro';
import Box from '@repo/layout-webcomponents/Box';
import Switcher from '@repo/layout-webcomponents/Switcher';
---

<style>
  .counter {
    display: grid;
    font-size: 2em;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: 2em;
    place-items: center;
  }

  .counter-message {
    text-align: center;
  }
</style>

<Layout centerWidth="80ch">
  <Colors />
  <div class="tw-card">hello</div>
  <Box borderWidth="4px" borderStyle="double">
    <Switcher>
      <Box>
        <ReactCounter client:only="react" klass="counter">
          <h1>Hello from React!</h1>
        </ReactCounter>
      </Box>

      <Box>
        <PreactCounter client:visible klass="counter">
          <h1>Hello from Preact!</h1>
        </PreactCounter></Box
      >

      <Box>
        <VueCounter client:visible>
          <h1>Hello from Svelte!</h1>
        </VueCounter></Box
      >

      <Box>
        <SvelteCounter client:visible klass="counter">
          <h1>Hello from Svelte!</h1>
        </SvelteCounter></Box
      >
    </Switcher>
  </Box>
</Layout>
