---
import { getCollection, render, getEntries } from 'astro:content';
import MarkdownPostLayout from '#layouts/MarkdownPostLayout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

// const { id } = Astro.params;
const { post } = Astro.props;

const { data } = post;
const authorsArray = await getEntries(data.author);

const { Content } = await render(post);
---

<MarkdownPostLayout {...data}>
  <Content />

  <ul slot="authors" class="flex justify-around">
    {
      authorsArray.map((author) => (
        <li>
          <a class="link" href={'/authors/' + author.id}>
            {author.data.name}
          </a>
        </li>
      ))
    }
  </ul>
</MarkdownPostLayout>
