---
import { getCollection } from 'astro:content';
import PostCard from '#components/PostCard/index.astro';

import Layout from '#layouts/Layout.astro';

// export const prerender = true;

interface PostData {
  groupTitle?: string;
}

const publishsedPosts = await getCollection(
  'blog',
  ({ data }) => data.draft !== true,
);

const sortedPosts = publishsedPosts.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

const { groupTitle = 'Post' } = Astro.props as PostData;
---

<Layout title="Blog" maxW="0%">
  <h2 slot="headline">{groupTitle}</h2>
  <div class="grid grid-cols-1 gap-2 md:grid-cols-2">
    {
      sortedPosts.map(({ id, data }) => (
        <PostCard data={data} href={id} showTags />
      ))
    }
  </div>
</Layout>
