---


import Cluster from '@repo/layout-webcomponents/Cluster';
import Grid from '@repo/layout-webcomponents/Grid';
import { getCollection } from 'astro:content';
import PostCard from '#components/PostCard/index.astro';

import Layout from '#layouts/Layout.astro';

export const prerender = true;


const publishsedPosts = await getCollection(
  'blog',
  ({ data }) => data.draft !== true,
);

const sortedPosts = publishsedPosts.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout title='Blog' maxW="80vw">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-4 gap-y-4">
    {
      sortedPosts.map(
        ({ id, data }) => (
          <PostCard data={data} href={id}/>

        
        ),
      )
    }
  </div>
</Layout>

