---
import Stack from '@repo/layout-webcomponents/Stack';
import Box from '@repo/ui-lit/Box';

// type Props = {
//   headline: string;
//   quote: string;
//   desc: string;
//   tagCounts: Record<string, number>;
// };

// const { desc } = Astro.props;
---

<Stack>
  <slot name="headline" />
  <blockquote>
    <slot name="quote" />
  </blockquote>
  <Box>
    <slot name="box-content" />
  </Box>
  <slot name="desc" />
  <div role="figure"><slot name="image" /></div>
</Stack>
