---
import Box from '#lit-wc/Box/index.astro';
---

<Box borderWidth="0">
  <dialog aria-labelledby="message" id="decisionDialog">
    <p id="message">It’s decision time, sunshine!</p>
    <button type="button">Yes</button>
    <button type="button">No</button>
  </dialog>
</Box>
