---
import Box from '@repo/ui-lit/Box';
import type { HTMLAttributes } from 'astro/types';
type Props = HTMLAttributes<'a'> & {
  className?: string;
};

const { href, className, ...rest } = Astro.props;
const { pathname } = Astro.url;
const subpath = pathname.match(/[^/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<!-- <Box padding='--sizes'><a href={href} class:list={[{ active: isActive }]}>
    <slot />
</a></Box> -->
<Box borderWidth="0" padding="0">
  {
    !isActive ?
      <a
        href={href}
        class:list={[className, { active: isActive }]}
        {...rest}
        aria-disabled={isActive}
      >
        <slot />
      </a>
    : <span class="nonLink">
        <slot />
      </span>
  }
</Box>

<style>
  a {
    display: inline-block;
    text-decoration: none;
  }

  .nonLink {
    text-decoration: underline wavy;
    text-underline-offset: var(--s0);
  }
</style>
