---
// import Hamburger from '/Hamburger.astro';
import Cluster from '@repo/layout-webcomponents/Cluster';
import Box from '@repo/layout-webcomponents/Box';
import ThemeSwitcher from '@repo/ui-lit/ThemeSwitcher';
import DropDownNav from '#components/DropDownNav/index.astro';
// import ThemeSwitcher from '#wc-lit/ThemeSwitcher/index.astro';
// import ThemeSwitcher from '@repo/ui-lit/ThemeSwitcher';
import SunMoon from '@repo/astro-wc/SunMoon';
// import AstroNavigateSelect from '#components/AstroNavigateSelect.astro';
import HeaderLink from '#components/HeaderLink.astro';
import { navLinks } from '#app.config.ts';
// const canonicalURL = new URL(Astro.url.pathname, Astro.site);
// const { pathname } = new URL(Astro.request.url);
// const currentPage = (pathname.match(/[^/]+$/)?.[0]) || '';
import { getPaths } from '#lib/index.ts';

// TODO: Move to a helper function

const subpath = getPaths(Astro.url.pathname);
//  pathname.match(/[^/]+/g);
---

<div class="flex flex-row justify-between bg-mint-500 px-4">
  <Cluster align="baseline" justify="space-around" space="0">
    <Box borderWidth="0">
      <a href="/" style="text-decoration: none;">
        <wa-avatar
          shape="circle"
          initials="MC"
          href="./"
          label="Avatar with initials: SL"></wa-avatar></a
      ></Box
    >
    <!--
    <div class="box">{subpath}</div> -->

    <Cluster align="baseline" justify="flex-end" space="var(--s1)">
      <!-- <DropDownNav />
      <SunMoon /> -->

      {
        navLinks.map(({ href, label }) => (
          <HeaderLink href={href}>{label}</HeaderLink>
        ))
      }
    </Cluster>
  </Cluster>
</div>
