---
import Box from '@repo/layout-webcomponents/Box';

import type { HTMLAttributes } from 'astro/types';
type Props = HTMLAttributes<'a'> & {
  first?: boolean;
  last?: boolean;
};

const { href, first, last } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

{
  isActive ?
    <div class="font-bold px-2 py-2">
      <slot />
    </div>
  : <span
      class:list={[
        'bg-accent-400  hover:bg-accent-800 border-indigo-5000 px-2 py-2',
        { 'rounded-l-lg': first },
        { 'rounded-r-lg': last },
      ]}
    >
      <a href={href} class="underline decoration-sky-500">
        <slot />
      </a>
    </span>
}
