---
// import Hamburger from '/Hamburger.astro';
import Cluster from '@repo/layout-webcomponents/Cluster';
import Box from '@repo/ui-lit/Box';
// import ThemeSwitcher from '#wc-lit/ThemeSwitcher/index.astro';
// import ThemeSwitcher from '@repo/ui-lit/ThemeSwitcher';
import SunMoon from './SunMoon.astro';
// import AstroNavigateSelect from '#components/AstroNavigateSelect.astro';
import HeaderLink from '#components/HeaderLink.astro';
// const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { pathname } = new URL(Astro.request.url);
const currentPage = pathname.match(/[^/]+$/)?.[0] || '';
---

<Box invert padding="var(--s1)" borderWidth="0">
  <!-- <Hamburger /> -->

<SunMoon />
  <Cluster align="baseline" justify="space-between" space="0">
    <HeaderLink href="/"><h1>Mike Connor - Tech</h1></HeaderLink>

    <p>{currentPage}</p>
    <!-- <AstroNavigateSelect /> -->

    <Box invert borderWidth="0" padding="0">
      <Cluster align="baseline" justify="flex-end" space="var(--s1)">
        <HeaderLink href="/register">register</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>

        <HeaderLink href="/posts">Posts</HeaderLink>
        <HeaderLink href="/tags">Tags</HeaderLink>
        <HeaderLink href="/interactive">Interactive</HeaderLink>
        <HeaderLink href="/hello">Actions</HeaderLink>
        <!-- {
          topLevelPages.length > 0 ? (

              topLevelPages.map((page) => (
                  <HeaderLink href={page.url}>{page.url?.slice(1)}</HeaderLink>
                ))

          ) : (
            <p>no pages found</p>
          )
        } -->
      </Cluster>
    </Box>
  </Cluster>
</Box>

<style>
  h1 {
    background: var(--gradient-1) fixed;
    background-clip: text;
    color: transparent;
  }
</style>
