---
import Box from '@repo/layout-webcomponents/Box';
import type { HTMLAttributes } from 'astro/types';
type Props = HTMLAttributes<'a'> & {
  className?: string;
};

const { href, className, ...rest } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<div>
  {
    isActive ?
      <slot />
    : <div class="border-4 border-indigo-5000">
        <a href={href} class="my-button">
          <slot />
        </a>
      </div>
  }
</div>
