---
interface Props {
  headline: string;
  color?: 'blue' | 'red' | 'yellow';
}
const { headline, color = 'blue' } = Astro.props;

const colorVariants = {
  blue: 'bg-primary hover:bg-blue-500 text-white p-1',
  red: 'bg-secondary hover:bg-red-400 text-white p-1',
  yellow: 'bg-accent hover:bg-yellow-400 text-black p-1',
};
---

<h1
  class:list={[
    `${colorVariants[color]}`,
    'font-mono text-xl md:text-3xl lg:text-5xl',
  ]}
>
  {headline}
</h1>
