---
import { Cluster } from '#astro-wc/index.js';
// import Hamburger from './Hamburger.astro';
import Box from '#lit-wc/Box/index.astro';
// import AstroSwitcher from '#lit-web-components/AstroSwitcher/index.astro';
// import AstroNavigateSelect from '#components/AstroNavigateSelect.astro';

import Link from '#components/Link.astro';
import MainNav from './MainNav.astro';
---

<Box invert padding="var(--s1)" borderWidth="0">
  <!-- <Hamburger />
  <AstroSwitcher /> -->
  <Cluster align="baseline" justify="space-between" space="0">
    <Link isMainNav href="/"><h1>Mike Connor</h1></Link>

    <!-- <AstroNavigateSelect /> -->

    <Box borderWidth="0" padding="0">
      <MainNav />
    </Box>
  </Cluster>
</Box>
