---
import Box from '@repo/layout-webcomponents/Box';
import FeatureCheckBox from './FeatureCheckBox.astro';
---

<section class="hero">
  <h1>MikeConnor@tech</h1>
</section>

<style>
  .hero {
    background-color: var(--surface-4);
  }

  h1 {
    font-size: var(--font-size-fluid-2);
    font-family: var(--font-antique);
    color: var(--text-1);
    text-align: center;
  }
</style>
