---
// Class	Body font size
// prose-sm	0.875rem (14px)
// prose-base (default)	1rem (16px)
// prose-lg	1.125rem (18px)
// prose-xl	1.25rem (20px)
// prose-2xl	1.5rem (24px)
---

<div
  class="prose prose-sm prose-stone md:prose-base lg:prose-lg xl:prose-xl 2xl:prose-2xl dark:prose-invert"
>
  <slot />
</div>
