---
interface Props {
  children: unknown;
}
// Class	Body font size
// prose-sm	0.875rem (14px)
// prose-base (default)	1rem (16px)
// prose-lg	1.125rem (18px)
// prose-xl	1.25rem (20px)
// prose-2xl	1.5rem (24px)

// prose-gray (default)	Gray
// prose-slate	Slate
// prose-zinc	Zinc
// prose-neutral	Neutral
// prose-stone	Stone
---

<div class="prose prose-sm sm:prose-base lg:prose-xl prose-img:rounded-xl">
  <slot />
</div>
