---
import Icon from '@repo/layout-webcomponents/Icon';
import Tag from './Tag.astro';
interface Props {
  tags: string[];
  tagCounts: Record<string, number>;
  // children: never;
}

const { tags, tagCounts } = Astro.props;
console.log(tagCounts);
---

<div class="flex flex-row flex-wrap gap-2">
  {
    tagCounts &&
      Object.entries(tagCounts).map(([tag, count]) => (
        <Tag tag={tag} count={count} />
      ))
  }
</div>
