---
import Box from '@repo/layout-webcomponents/Box';

import { Icon } from 'astro-icon/components';

interface Props {
  headline?: string;
  copy: string;
}

const { copy, headline = 'Warning' } = Astro.props;
---

<Box invert>
  <div>
    <Icon name="mdi:warning-octagram-outline" size={40} title={headline} />
    <h4>{headline}</h4>
  </div>

  <p>{copy}</p>
</Box>

<style>
  div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  p {
    margin-left: 1rem;
  }
</style>
