/* @import 'open-props/style'; */
@import 'tailwindcss';
@import '@repo/design-system/styles.css';
@plugin '@tailwindcss/typography';
@custom-variant dark (&:where(.dark, .dark *));
/*
Here's what you're actually importing when you import tailwindcss:

@layer theme, base, components, utilities;

@import "./theme.css" layer(theme);
@import "./preflight.css" layer(base);
@import "./utilities.css" layer(utilities);
 */

/* see all tailwindcss/theme.css */
@theme {
  /* theme variables defined in the --font-* namespace determine
   all of the font-family utilities that exist in a project: */

  --font-sans: InterVariable, sans-serif;
  /* --font-display--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  --font-display--font-variation-settings: 'opsz' 32; */

  --color-mint-500: oklch(0.72 0.11 178);
  /* --tab-size-github: 8; */
}

@layer components {
  .card {
    background-color: var(--color-white);
    border-radius: var(--rounded-lg);
    padding: var(--spacing-6);
    box-shadow: var(--shadow-xl);
  }
  .cta {
    /* border-radius: var(--radius-md);
    padding-inline: calc(var(--spacing) * 3.5);
    padding-block: calc(var(--spacing) * 2.5); */
    font-size: var(--text-sm) /* 0.875rem = 14px */;
    line-height: calc(var(--spacing) * 6) /* 1.5rem = 24px */;
    /* background-color: var(--color-blue-500);
    color: var(--color-white);
    padding: var(--spacing-4);
    border-radius: var(--rounded-md);
    box-shadow: var(--shadow-lg); */
  }
}

.shadow-xs {
  --tw-shadow: 0 1px 2px 0 var(--tw-shadow-color, rgb(0 0 0 / 0.05));
  box-shadow:
    var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

/* @utility tab-* {
  tab-size: --value(integer);
}

@utility btn {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: ButtonFace;
} */

/* @utility typography {
  p {
    font-size: var(--text-base);
    color: var(--color-gray-700);
  }
  h1 {
    font-size: var(--text-3xl);
    font-weight: var(--font-weight-semibold);
    color: var(--color-orange-950);
    shadow: var(-shadow-2xl);
  }
  h2 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-semibold);
    color: var(--color-gray-950);
  }
}

.my-element {
  background: white;
  @variant dark {
    @variant hover {
      background: black;
    }
  }
} */
