:where(html) {
  color-scheme: dark;

  --brand-dark: var(--orange-7);
  --link-dark: var(--orange-7);
  --link-visited-dark: var(--orange-2);

  --text-1-dark: var(--gray-0);
  --text-2-dark: var(--gray-4);

  --surface-1-dark: var(--gray-9);
  --surface-2-dark: var(--gray-8);
  --surface-3-dark: var(--gray-7);
  --surface-4-dark: var(--gray-6);

  --surface-shadow-dark: var(--gray-12-hsl);
  --shadow-strength-dark: 80%;
}
