---
import { type NavLinkI, navLinks } from '#app.config.ts';

interface Props extends Omit<NavLinkI, 'label'> {
  children: unknown;
}

const { href, ...rest } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

{
  isActive && !rest.subPages ?
    <span class="relative bg-transparent px-8 py-2 tab-primary text-stone-100 underline">
      <slot name="activeTab" />
    </span>
  : <span class="relative tab-ends tab-bg px-8 py-2 tab-primary">
      <a href={href} class="">
        <span class="absolute inset-0" />
        <slot name="btnContents" />
      </a>
    </span>
}
