---
import { type NavLinkI } from '#app.config.ts';

interface Props extends Omit<NavLinkI, 'label'> {
  children: unknown;
}

const { href } = Astro.props;

const { pathname } = Astro.url;
// const subpath = pathname.match(/[^/]+/g);
const isActive = href === pathname;
// || href === '/' + subpath?.[0];
// console.log('---------');
// console.log('href', href);
// console.log('pathname', pathname);
// console.log('subpath', subpath);
---

{
  isActive ?
    <button class="btn-small btn btn-active">
      <slot />
    </button>
  : <a role="button" href={href} class="btn-small btn btn-ghost">
      <slot />
    </a>
}

<!--
/* @utility tab-bg {
  @apply bg-linear-to-l from-violet-500 to-fuchsia-500 md:bg-linear-to-t;
}
@utility tab-primary {
  @apply font-mono font-semibold sm:text-sm md:text-base lg:text-lg;
} */ -->
