---
import { type NavLinkI, navLinks } from '#app.config.ts';

interface Props extends Omit<NavLinkI, 'label'> {
  children: unknown;
}

const { href, ...rest } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

{
  isActive && !rest.subPages ?
    <div class="relative min-w-20 bg-transparent px-8 py-2 underline">
      <div class="font-mono text-xs font-semibold sm:text-sm md:text-base lg:text-lg">
        <slot name="activeTab" />
      </div>
    </div>
  : <div class="relative min-w-20 bg-linear-to-l from-violet-500 to-fuchsia-500 px-8 py-2 text-stone-100 sm:first:rounded-l-2xl sm:last:rounded-r-2xl">
      <div class="font-mono text-xs font-semibold sm:text-sm md:text-base lg:text-lg">
        <a href={href} class="">
          <span class="absolute inset-0" />
          <slot name="btnContents" />
        </a>
      </div>
    </div>
}

<!--
/* @utility tab-bg {
  @apply bg-linear-to-l from-violet-500 to-fuchsia-500 md:bg-linear-to-t;
}
@utility tab-primary {
  @apply font-mono font-semibold sm:text-sm md:text-base lg:text-lg;
} */ -->
