---
import { type NavLinkI, navLinks } from '#app.config.ts';

interface Props extends Omit<NavLinkI, 'label'> {
  children: unknown;
}

const { href, ...rest } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

{
  isActive && !rest.subPages ?
    <div class="btn p-2 btn-ghost">
      <slot name="activeTab" />
    </div>
  : <a href={href} class="btn p-2 btn-accent">
      <slot name="btnContents" />
    </a>
}

<!--
/* @utility tab-bg {
  @apply bg-linear-to-l from-violet-500 to-fuchsia-500 md:bg-linear-to-t;
}
@utility tab-primary {
  @apply font-mono font-semibold sm:text-sm md:text-base lg:text-lg;
} */ -->
