---
import Cluster from '@repo/layout-webcomponents/Cluster';
import Box from '@repo/layout-webcomponents/Box';
import HeaderLink from './HeaderLink.astro';

import { type NavLinkI, navLinks } from '#app.config.ts';
---

<div class="flex flex-col border-0 sm:flex-row sm:rounded-2xl sm:border-x-4">
  {
    navLinks.map(({ href, label, subPages }, index) => (
      <HeaderLink href={href} subPages={subPages}>
        <span slot="activeTab">{label}</span>
        <span slot="btnContents">{label}</span>
      </HeaderLink>
    ))
  }
</div>
