---
import HeaderLink from './HeaderLink.astro';

import { navLinks } from '#app.config.ts';
---

<div
  class="border-1 sm:flex sm:flex-row sm:justify-center sm:rounded-2xl sm:border-x-4"
>
  {
    navLinks.map(({ href, label, subPages }, index) => (
      <HeaderLink href={href} subPages={subPages}>
        <span slot="activeTab">{label}</span>
        <span slot="btnContents">{label}</span>
      </HeaderLink>
    ))
  }
</div>
