---
import { type NavLinkI } from '#app.config.ts';
const { menuTitle, menuItems } = Astro.props;

interface Props {
  menuTitle: string;
  menuItems: NavLinkI[];
}
---

<div class="navbar-center flex">
  <ul class="menu menu-horizontal px-1">
    {
      menuItems.map((item) => (
        <li>
          <a href={item.href}>{item.label}</a>
        </li>
      ))
    }
  </ul>
</div>
