---
import { type NavLinkI } from '#app.config.ts';
const { menuTitle, menuItems } = Astro.props;

interface Props {
  menuTitle: string;
  menuItems: NavLinkI[];
}
---

<div class="navbar-center hidden lg:flex">
  <ul class="menu menu-horizontal px-1">
    <li><a href="./product">{menuTitle}</a></li>
    <li>
      <details>
        <summary></summary>
        <ul class="p-2">
          {
            menuItems.map((item) => (
              <li>
                <a href={item.href}>{item.label}</a>
              </li>
            ))
          }
        </ul>
      </details>
    </li>
    <li><a href="./cardanim">Animation</a></li>
  </ul>
</div>
