---
import Cluster from '@repo/layout-webcomponents/Cluster';
---

<Cluster>
  <a href="/">home</a>
  <a href="/ui">ui</a>
  <a href="sidebartest">sidebar</a>
  <!-- <a href="gridtest">gridtest</a> -->
  <a href="stacktest">stacktest</a>
  <a href="timer">timer</a>
</Cluster>

<style>
  a {
    /* font-family: var(--font-sans); */
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-2);
    &:link {
      color: var(--brand);
      text-decoration: wavy;
    }
    &:hover {
      color: var(--brand);
    }
    &:visited {
      color: var(--brand);
      text-decoration: wavy;
    }

    .mainNavItem {
      font-weight: var(--font-weight-3);
      font-size: var(--font-size-3);
    }
  }
</style>
