---
import PostCard from '#components/PostCard/index.astro';

import type { CollectionEntry } from 'astro:content';

interface Props {
  headline: string;
  posts: CollectionEntry<'blogCollection'>[];
}

const { posts } = Astro.props;
const bool2 = posts.length > 1;
const bool3 = posts.length > 2;
---

<div class="">
  <div
    class:list={[
      'grid grid-cols-1 gap-1',
      { 'md:grid-cols-2 md:gap-2': bool2 },
      { 'lg:grid-cols-3 lg:gap-4': bool3 },
    ]}
  >
    {posts.map(({ id, data }) => <PostCard data={data} href={id} showTags />)}
  </div>
</div>
