---
interface Props {
  title: string;
  body: string;
  href: string;
}
import { Box } from '@repo/lit-layout-wc';
const { href, title, body } = Astro.props;
---

<Box borderWidth="1px">
  <!-- <a href={href}> -->
  <div></div>
  <h2>
    {title}
  </h2>
  <p>
    {body}
  </p>
</Box>
