---
import Box from '@repo/layout-webcomponents/Box';
import Cluster from '@repo/layout-webcomponents/Cluster';
import ThemeSwitcher from '@repo/ui-lit/ThemeSwitcher';

import MainNav from './MainNav.astro';
---

<Box invert padding="var(--s1)" borderWidth="0">
  <Box borderWidth="0" padding="0">
    <!-- <Hamburger />
  -->
    <ThemeSwitcher />
  </Box>
  <Cluster align="baseline" justify="space-between" space="0">
    <a href="/"><h1>Astro Demo</h1></a>

    <!-- <AstroNavigateSelect /> -->

    <Box borderWidth="0" padding="0">
      <MainNav />
    </Box>
  </Cluster>
</Box>
