---
// import Box from '@repo/lit-layout-wc/Box';
import Nav from '@/components/Nav.astro';
import { Cluster } from '@repo/layout-wc';
---

<Cluster>
  <Nav href="/">home</Nav>
  <Nav href="sidebar">sidebar</Nav>
  <Nav href="gridtest">gridtest</Nav>
</Cluster>
