---
// import Box from '@repo/layout-wc/Box';
import Nav from '#components/Nav.astro';
import Cluster from '@repo/layout-wc/Cluster';
---

<Cluster>
  <Nav href="/">home</Nav>
  <Nav href="sidebartest">sidebar</Nav>
  <Nav href="gridtest">gridtest</Nav>
  <Nav href="stacktest">stacktest</Nav>
</Cluster>
