---
import type { HTMLAttributes } from 'astro/types';

interface  HTMLAttributes<'a'>;

// const path = Astro.url.pathname;
const { href } = Astro.props;

// const isActive = href === path || href === path.replace(/\/$/, '');
---

<a href={href}><slot /></a>
