---
import type { HTMLAttributes } from 'astro/types';
// import Box from '#wc-lit/Box/index.astro';

type Props = HTMLAttributes<'a'>;

// const path = Astro.url.pathname;
const { href } = Astro.props;

// const isActive = href === path || href === path.replace(/\/$/, '');
---

<a href={href}><slot /></a>
