---
import type { HTMLAttributes } from 'astro/types';
import Box from '@repo/layout-wc/Box';

type Props = HTMLAttributes<'a'>;

// const path = Astro.url.pathname;
const { href } = Astro.props;

// const isActive = href === path || href === path.replace(/\/$/, '');
---

<Box> <a href={href}><slot /></a></Box>
