---

---

<!-- Use the bg-clip-text utility to crop an element's background to match the shape of the text: -->
<div
  class="bg-gradient-to-b from-base-content to-transparent bg-clip-text text-transparent"
>
  <p class="prose">The best thing about KC.. no rats. But lots of rabbits.</p>
  <p>
    Cupidatat eiusmod tempor adipisicing laboris anim ad aliqua irure elit.
    Nulla deserunt reprehenderit do anim labore aliqua duis ipsum esse eu. Enim
    ex voluptate sint fugiat tempor occaecat fugiat adipisicing cupidatat ad ex
    consectetur non consequat. Esse cillum fugiat labore consequat mollit sint
    anim ut tempor. Consectetur ea aliqua sit dolor duis nostrud consequat elit
    anim sint est. Exercitation officia fugiat laborum consequat ullamco in et.
    Pariatur incididunt irure amet dolore tempor. Deserunt aliqua reprehenderit
    nisi veniam laborum aliquip Lorem commodo in sit consectetur dolore laboris.
    Deserunt laborum ea irure sunt esse eiusmod laborum. Aliqua id elit laboris
    magna amet sint aliquip sunt aliquip cillum deserunt anim id. Deserunt enim
    ad ea consectetur quis mollit exercitation.
  </p>
</div>
